@{
    // Used Table [Member]
    // 회원관리 - 가입
    Layout = "~/Views/Shared/_LayoutKi4C.cshtml";
    ViewData["Title"] = "MemberReg Page";
    @model Ki4C_Solution.Models.Common.Member.MemberRegModel
    
}
    <style>
        /*member_step*/
        .member_step {
            height: 65px;
            margin-top: 30px;
            border: 1px solid #c1c1c1;
            background: #f4f4f4;
        }

        .member_step span {
            display: block;
            float: left;
            line-height: 65px;
            text-indent: 65px;
            text-align: center;
            color: #cecece;
            font-size: 18px;
            padding-right: 65px;
        }
        .member_step span.current {
            font-weight: 700;
            color: #000;
            background: #fff;
            padding-left: 30px;
            padding-right: 80px;
        }
        /* MemberReg.html */
        #memberReg {
            width: 50%;
            margin: auto;
        }
        #input-form {
            width: 350px; height: 25px;
            font-size: 14px;
            border: 1px solid grey;
            margin-bottom: 3px;
        }
        #line-form {
            border: solid 0.3px light-grey;
            width: 400px;
            position: relative; top: 10px;
        }
        #check_area {
            font-size: 14px;
            position: relative; top: 10px;
        }
        #prev-button{
            font-size: 16px; font-weight: 600;
            background-color: white;
            border-color: black;
            width: 150px; height: 40px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        #next-button{
            font-size: 16px; font-weight: 600;
            background-color: lightgray;
            color: gray;
            border: none;
            width: 150px; height: 40px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        /* MemberReg.html */
        @@media (max-width: 768px){
            .member_step {
                display: none;
            }
            #memberReg {
                width: 100%;
            }
            #input-form {
                width: 250px;
            }
            #line-form {
            width: 200px;
            }
            #prev-button{
                width: 80px; height: 30px;
                font-size: 14px;
            }
            #next-button{
                font-size: 14px;
                width: 80px; height: 30px;
                font-size: 14px;
            }
        }
    </style>

<section>
    <!-- 콘텐츠 -->
    <div id="wrap">
        <h2>회원가입</h2>
        <div style="float: right;">
            <div id=home_img style="float: left;">
                <img style="width: 25px; height: 25px; padding-right: 3px;" src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            회원가입
        </div>
        <br>
        <hr style="border: solid 0.5px black; width: 100%;" />
        <!-- 회원가입 -->
        <div class="contents" style="display: flex; justify-content: center;">
            <div style="width: 80%;">
                <br>
                <h1>회원 기본정보 입력</h1>
                <a style="font-size: 12px;">Ki4C의 다양한 솔루션을 하나의 통합 계정으로 간편하게 사용할 수 있습니다.</a> <br> <br>
                <div class="member_step">
                    <span>약관 및 개인정보취급방침 동의</span>
                    <span class="current">회원 기본정보 입력</span>
                    <span>가입 완료</span>
                </div>
                <div id="memberReg">
                    <br> <br> <br>
                    <form asp-controller="CommonMember" asp-action="MemberReg" method="post" id="input-form">
                        <a style="font-size: 14px;">아이디 </a> <a style="color: red;">*</a> <br>
                            <div style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                                <input id="input-Id" type="text" placeholder=" " asp-for="Id" value="lklabOrg" />
                            </div>
                        <br>
                        <a style="font-size: 14px;">이메일 </a> <a style="color: red;">*</a> <br>
                            <div style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                                <input class="form-control" id="input-Email" type="text" placeholder="이메일 주소는 아이디로 사용됩니다." asp-for="Email"/>
                            </div>
                        <br>
                        <a style="font-size: 14px;">비밀번호 </a> <a style="color: red;">*</a> <br>
                            <div style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                                <input class="form-control" id="input-Password" type="password" placeholder="영문+숫자+특수기호 포함 8~12자리" asp-for="Password" />
                            </div> 
                        <br>
                        <a style="font-size: 14px;">비밀번호 확인 </a> <a style="color: red;">*</a> <br>
                            <div style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                                <input class="form-control" id="input-Password-Check" type="password" placeholder=" " asp-for="PasswordConfirm"/>
                            </div> 
                        <br>
                        <a style="font-size: 14px;">이름 </a> <a style="color: red;">*</a> <br>
                            <div style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                                <input class="form-control" id="input-Name" type="text" placeholder=" " asp-for="UserName" />
                            </div> 
                        <br>
                        <a style="font-size: 14px;">휴대전화번호 </a> <a style="color: red;">*</a> <br>
                            <div style="padding-top: 5px; display: inline-block;">
                                <select id="input-Phone-Code" asp-for="PhoneNumberCode">
                                    <option value="+1">United States (+1)</option>
                                    <option value="+44">United Kingdom (+44)</option>
                                    <option value="+82" selected>South Korea (+82)</option>
                                    <option value="+81">Japan (+81)</option>
                                    <option value="+86">China (+86)</option>
                                    <!-- Add more options for other countries as needed -->
                                </select>
                            </div>
                        <br>
                            <div style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                                    <input class="form-control" id="input-Phone" type="text" placeholder=" " asp-for="PhoneNumber" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                            </div> 
                        <br>
                        <a style="font-size: 14px;">회사명 </a> <a style="color: red;">*</a> <br>
                            <div style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                                <input class="form-control" id="input-Company" type="text" placeholder=" " asp-for="CompanyName"/>
                            </div>
                        <br>
                        <a style="font-size: 14px;">부서명</a> <br>
                            <div style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                                <input class="form-control" id="input-Department" type="text" placeholder=" " asp-for="DepartmentName" value="SI사업부" />
                            </div>
                        <br> 

                    </form>
                    <br><br><br>
                    <div style="padding-left: 30px;">
                        <a class="text-primary" asp-area="" asp-controller="CommonMember" asp-action="TermsConditionsPrivacy">
                            <input id="prev-button" type="submit" value="이전" />
                        </a>
                        <a class="text-primary" asp-area="" asp-controller="CommonMember" asp-action="MemberRegFinished">
                            <input id="next-button" type="submit" value="다음" />
                        </a>
                    </div>
                </div>
            </div>
            <br> <br> <br>
            <!-- 회원가입 -->
        </div>
        <!-- 콘텐츠 -->
    </div>
 
</section>


<script>
    let MemberRegJS = {
        init: function () {
            this.setEvent();
        },
        setEvent: function () {
            $('#input-form').submit(function (e) {
                e.preventDefault();
                if (MemberRegJS.inputNullCheckFunction()) {
                    this.submit();
                };
            });
        },
        daumAddressAPI: function () {
            //daum 주소 API
            new daum.Postcode({
                oncomplete: function (data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 상태라면 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var fullAddr = data.address; // 최종 주소 변수
                    var extraAddr = ''; // 조합형 주소 변수
                    // 기본 주소가 도로명 타입일때 조합한다.
                    if (data.addressType === 'R') {
                        //법정동명이 있을 경우 추가한다.
                        if (data.bname !== '') {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if (data.buildingName !== '') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형 주소의 유무에 따라 양쪽에 괄호를 추가하고 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                    }
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('input-Address').value = fullAddr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById('input-Address-Detail').focus();
                }
            }).open();
        },
        isEmpty: function (value) {
            if (value == null || value == undefined || value == "") {
                return true;
            } else {
                return false;
            }
        },
        check1Clicked: function () {
            if ($('#input-Check1').is(':checked')) {
                $('#input-Check2').prop('checked', true);
                $('#input-Check3').prop('checked', true);
                $('#input-Check4').prop('checked', true);
                $('#input-Check5').prop('checked', true);
                $('#input-Check6').prop('checked', true);
                $('#input-Check7').prop('checked', true);
                $('#input-Check8').prop('checked', true);
            } else {
                $('#input-Check2').prop('checked', false);
                $('#input-Check3').prop('checked', false);
                $('#input-Check4').prop('checked', false);
                $('#input-Check5').prop('checked', false);
                $('#input-Check6').prop('checked', false);
                $('#input-Check7').prop('checked', false);
                $('#input-Check8').prop('checked', false);
            }

        },
        checkOrderClick: function () {
            //this function is check 2~7 checkbox onclick event
            // check1 is checked, if all checkbox is checked
            if ($('#input-check2').is(':checked') && $('#input-check3').is(':checked') && $('#input-check4').is(':checked') && $('#input-check5').is(':checked') && $('#input-check6').is(':checked') && $('#input-check7').is(':checked')) {
                $('#input-check1').prop('checked', true);
            } else {
                $('#input-check1').prop('checked', false);
            }
        },
        inputNullCheckFunction: function () {
            //this MemberReg page input null check function input tag id patten is 'input-ID'
            if (MemberRegJS.isEmpty($('#input-Id').val())) {
                alert('아이디를 입력해주세요.');
                $('#input-id').focus();
                return false;
            }
            if (MemberRegJS.isEmpty($('#input-Password').val())) {
                alert('비밀번호를 입력해주세요.');
                $('#input-pw').focus();
                return false;
            }
            if (MemberRegJS.isEmpty($('#input-Password-Check').val())) {
                alert('비밀번호 확인을 입력해주세요.');
                $('#input-pw-check').focus();
                return false;
            }
            if ($('#input-Password').val() != $('#input-Password-Check').val()) {
                alert('비밀번호가 일치하지 않습니다.');
                $('#input-pw-check').focus();
                return false;
            }
            if (MemberRegJS.isEmpty($('#input-Name').val())) {
                alert('이름을 입력해주세요.');
                $('#input-Name').focus();
                return false;
            }
            if (MemberRegJS.isEmpty($('#input-Email').val())) {
                alert('이메일을 입력해주세요.');
                $('#input-Email').focus();
                return false;
            }
            if (MemberRegJS.isEmpty($('#input-Phone').val())) {
                alert('휴대폰 번호를 입력해주세요.');
                $('#input-Phone').focus();
                return false;
            }
            if (MemberRegJS.isEmpty($('#input-Address').val())) {
                alert('주소를 입력해주세요.');
                $('#input-Address').focus();
                return false;
            }
            //if (MemberRegJS.isEmpty($('#input-Resident-Number').val())) {
            //    alert('주민번호를 입력해주세요.');
            //    $('#input-detail-address').focus();
            //    return false;
            //}
            //if (MemberRegJS.isEmpty($('#input-postcode').val())) {
            //    alert('우편번호를 입력해주세요.');
            //    $('#input-postcode').focus();
            //    return false;
            //}
            if (MemberRegJS.isEmpty($('#input-Company').val())) {
                alert('회사명을 입력해주세요.');
                $('#input-Company').focus();
                return false;
            }
            //if (MemberRegJS.isEmpty($('#input-Department').val())) {
            //    alert('부서명을 입력해주세요.');
            //    $('#input-Department').focus();
            //    return false;
            //}
            //if (MemberRegJS.isEmpty($('#input-Position').val())) {
            //    alert('직급을 입력해주세요.');
            //    $('#input-Position').focus();
            //    return false;
            //}
            //check2 ~ check8 is checked
            if (!$('#input-Check2').is(':checked') && !$('#input-Check3').is(':checked') && !$('#input-Check4').is(':checked') && !$('#input-Check5').is(':checked') && !$('#input-Check6').is(':checked') && !$('#input-Check7').is(':checked') && !$('#input-Check8').is(':checked')) {
                alert('이용약관에 동의해주세요.');
                return false;
            }
            return true;
        },
        MemberRegSubmit: function () {
            // id input-form submit
            $('#input-form').submit();
        },
        MemberRegSubmitEvent: function () {
            // id input-form submit event
            $('#input-form').submit(function (e) {
                e.preventDefault();
                if (MemberRegJS.MemberRegCheck()) {
                    MemberRegJS.MemberJoinReqest();
                }
            });
        },
        IdCheckClicked: function () {
            if (MemberRegJS.isEmpty($('#input-Id').val())) {
                alert('아이디를 입력해주세요.');
                $('#input-Id').focus();
                return false;
            }
            $.ajax({
                url: '/CommonMember/CheckID',
                type: 'POST',
                data: { id: $('#input-Id').val() },
                success: function (data) {
                    if (data.result == 'success') {
                        alert('사용가능한 아이디입니다.');
                        // .idCheckBtn button class btn-primary to btn-default
                        $('.idCheckBtn').removeClass('btn-outline-success');
                        $('.idCheckBtn').addClass('btn-default');
                        // .idCheckBtn button class disabled
                        $('.idCheckBtn').attr('disabled', true);

                    }
                    else {
                        alert('이미 사용중인 아이디입니다.');
                        $('#input-Id').focus();
                    }
                },
                error: function (request, status, error) {
                    alert('아이디 중복체크에 실패하였습니다.');
                    // .idCheckBtn button class btn-primary to btn-default
                    $('.idCheckBtn').removeClass('btn-outline-success');
                    $('.idCheckBtn').addClass('btn-default');
                    // .idCheckBtn button class disabled
                    $('.idCheckBtn').attr('disabled', true);
                }
            });
        },
        PhoneCheckClicked: function () {
            if (MemberRegJS.isEmpty($('#input-Phone').val())) {
                alert('휴대폰 번호를 입력해주세요.');
                $('#input-Phone').focus();
                return false;
            }
            $.ajax({
                url: '/CommonMember/CheckPhone',
                type: 'POST',
                data: { phone: $('#input-Phone').val() },
                success: function (data) {
                    if (data.result == 'success') {
                        alert('사용가능한 휴대폰 번호입니다.');
                        $('.phoneCheckBtn').removeClass('btn-outline-success');
                        $('.phoneCheckBtn').addClass('btn-default');
                        // .idCheckBtn button class disabled
                        $('.phoneCheckBtn').attr('disabled', true);
                    }
                    else {
                        alert('이미 사용중인 휴대폰 번호입니다.');
                        $('#input-Phone').focus();
                    }
                },
                error: function (request, status, error) {
                    alert('휴대폰 번호 중복체크에 실패하였습니다.');
                    $('.phoneCheckBtn').removeClass('btn-outline-success');
                    $('.phoneCheckBtn').addClass('btn-default');
                    // .idCheckBtn button class disabled
                    $('.phoneCheckBtn').attr('disabled', true);
                }
            })
        },
    }

    $(document).ready(function () {
        MemberRegJS.init();
    });

    $(".btn-close, .closeBtn").click(function () {
        $('#loginFailModal').modal('hide');
        $('#loginSuccessModal').modal('hide');
    });

</script>


