@{
    // Used Table [Member]
    // 마이페이지 - 내 정보 수정
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_my.cshtml";
    ViewData["Title"] = "마이페이지/내정보보기";
    @model Ki4C_Solution.Models.Common.Member.MemberRegModel
}

<style>
    /* MyInfoUpdate.html */
    #input-form {
        width: 300px; height: 25px;
        font-size: 14px;
        border: 1px solid grey;
        margin-bottom: 3px;
    }
    #modify-button{
        background-color: white;
        font-size: 16px; font-weight: 600;
        border-color: grey;
        color: black;
        width: 130px; height: 30px;
        margin: 10px;
        border-radius: 30px;
    }
    #cancle-button {           
        background-color: white;
        font-size: 16px; font-weight: 600;
        border-color: grey;
        color: black;
        width: 130px; height: 30px;
        margin: 10px;
        border-radius: 30px;
    }

    /* 화면 너비 0 ~ 768px */
    @@media (max-width: 768px){
        #input-form {
            width: 250px;
        }
        #modify-button{
            width: 80px;
            font-size: 14px;
        }
        #cancle-button {           
            width: 80px;
            font-size: 14px;
        }

    }
</style>
<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>내 정보 수정</h2>
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            <a href="#">마이 페이지</a>
            &gt;
            내 정보 수정
        </div>
        <br>
        <hr style="width: 100%" />
        <!-- 내 정보 수정 -->
        <div style="width: 80%; background-color: blanchedalmond;
                margin: auto; padding: 20px 10px; text-align: center;">
            개인정보 수정 후 반드시 '수정' 버튼을 클릭하시기 바랍니다.
        </div>
        <div style="width: 70%; margin: auto;">
            <br>
            <a style="font-size: 14px;">이메일 </a> <a style="color: red;">*</a> <br>
            <form style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                <input id="input-form" type="text" placeholder="이메일 주소는 아이디로 사용됩니다." />
            </form> <br>
            <a style="font-size: 14px;">비밀번호 </a> <a style="color: red;">*</a> <br>
            <form style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                <input id="input-form" type="text" placeholder="영문+숫자+특수기호 포함 8~12자리" />
            </form> <br>
            <a style="font-size: 14px;">비밀번호 확인 </a> <a style="color: red;">*</a> <br>
            <form style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                <input id="input-form" type="text" />
            </form> <br>
            <a style="font-size: 14px;">이름 </a> <a style="color: red;">*</a> <br>
            <form style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                <input id="input-form" type="text" />
            </form> <br>
            <a style="font-size: 14px;">휴대전화번호 </a> <a style="color: red;">*</a> <br>
            <form style="padding-top: 5px; display: inline-block;">
                <input id="input-form" type="text" placeholder="대한민국(+82)" />
            </form> <br>
            <form style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                <input id="input-form" type="text" placeholder="번호를 입력해주세요." />
            </form> <br>
            <a style="font-size: 14px;">회사명 </a> <a style="color: red;">*</a> <br>
            <form style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                <input id="input-form" type="text" />
            </form> <br>
            <a style="font-size: 14px;">부서명</a> <br>
            <form style="padding-top: 5px; padding-bottom: 10px; display: inline-block;">
                <input id="input-form" type="text" />
            </form> <br> <br>
        </div>
        <div style="width: 70%; margin: auto;">
            <input id="modify-button" type="submit" value="수정" />
            <input id="cancle-button" type="submit" value="취소" />
        </div>
        <!-- 내 정보 수정 -->
    </div>
    <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->