@{

    Layout = "~/Views/Shared/_LayoutKi4C_Aside_my.cshtml";
    ViewData["Title"] = "마이페이지/내정보보기";
    @model Ki4C_Solution.Models.Common.Member.MemberRegModel
}

<style>
    select {
        width: 100px;
    }
</style>

<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contents style="width: 100%;">
        <h2>진단 내역</h2>
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            <a href="#">마이 페이지</a>
            &gt;
            내 정보 보기
        </div>
        <br>
        <hr style="width: 100%" />
        <!-- 진단 내역 -->
        <div style="display: inline-block;">
            <div id="buttonLocation">
                <form style="padding-top: 10px; display: inline-block;">
                    <select style="height: 30px; font-size: 16px; padding-right: 30px;
                            margin-bottom: 3px;">
                        <option>진단 종류</option>
                        <option>입력상태</option>
                        <option>진단결과</option>
                    </select>
                </form>
                <input id="searchBox" type="text" placeholder="검색어 입력" />
                <button id="searchButton">검색</button>
            </div>
            <br> <br>
            <div style="width: 90%; margin: auto;">
                <table id="table">
                    <tr align="center" bgcolor="skyblue">
                        <td>번호</td>
                        <td>진단 종류</td>
                        <td>제출일</td>
                        <td>입력상태</td>
                        <td>진단결과</td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td><input type="checkbox"> 1</td>
                        <td><a href="/member/mypage/DXSelfDiagnosisDetailView.html">자체진단</a></td>
                        <td>2023.04.05</td>
                        <td>입력중</td>
                        <td>진단중</td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td><input type="checkbox"> 2</td>
                        <td>전문가진단</td>
                        <td>2023.05.25</td>
                        <td>완료</td>
                        <td>완료</td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <!-- 진단 내역 -->
        </div>
        <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->