@{
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_my.cshtml";
    ViewData["Title"] = "MyInfoDelete Page";
}

<style>
    table{
        border-top: 1px solid #444444;
        border-collapse : collapse;
    }
    th {
            width: 150px;
            height: 30px;
            border-bottom: 1px solid #444444;
            border-left: 1px solid #444444;
    }
    th:first-child {
        border-left: none;
    }
</style>

<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>탈퇴</h2>
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            <a href="#">마이페이지</a>
            &gt;
            탈퇴
        </div>
        <br>
        <hr style="width: 100%" /> <br> <br>
        <!-- 탈퇴 -->
        <div style="width: 80%; margin: auto;">
            <div style="width: 90%; height: 100px;">
                <a style="color: red;">*</a> <a style="color:rgb(17, 100, 100)">본인인증을 위해 탈퇴를 하시려면 1:1 문의를 이용해주시기 바랍니다.</a>
                <input id="question-button" type="submit" value="본인인증 문의" />
                <p>본인인증 문의 없이 탈퇴할 경우, 30일 이내 재가입(인증)이 불가능 합니다.</p>
            </div>
            <div style="width:s 100%; height: 200px;">
                <a style="color: red;">*</a> <a style="color:rgb(17, 100, 100)">정확한 본인확인을 위해 비밀번호를 입력해주세요.</a>
                <br> <br>
                <table>
                    <tr>
                        <th scope="col">이메일<a style="color: red;">*</a>
                        <th scope="col">onlookertozip</th>
                        <th scope="col">비밀번호</th>
                        <th scope="col"><input></th>
                    </tr>
                </table>
            </div>
        </div>
        <div style="width: 40%; margin: auto;">
            <input id="delete-button" type="submit" value="회원 탈퇴하기" />
        </div>
    </div>
    <!-- 진단 내역 -->
    <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->