################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Ki4C_Solution/Program.cs
/Ki4C_Solution/Program.cs
