/* 기본 설정 */
body {background: #f3e5f5;}
#wrap {width: 1200px; margin: 0 auto;}
header {width: 100%; height: 100px; background: white;}
aside {
    float: left;
    width: 200px; height: 700px;
    padding: 20px 10px 10px 10px;
    background: white;}
section {
    float: left;
    width: 96.6%;
    height: calc( 100% - 300px );
    min-height: 700px;
    padding: 20px;
    background: #f2f2f2;
    display: flex;
}
footer {clear: both; width: 100%; height: 200px; background: black;}
#nav_2 {
    display: none;
}

/* 기본 서식 */
a {
    text-decoration: none;
    color: inherit;
}

footer {
    color: white;
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    #wrap {width: 100%;}
    header {height: 50px;}
    aside {display: none;}
    section {width: 90%; min-height: 600px;}
    #nav_1 {
        display: none;
    }
    #nav_2 {
        display: block;
    }
}