@{
    // Used Table [Member]
    // 마이페이지 - 탈퇴
    ViewData["Title"] = "진단/자체 진단 문항";
}

    <style>
    /* CompanyBasicInformation.html */
    .essay {
        width: 100%;
        background-color:transparent;
        border: none;
    }
    #saveButton{
        width: 200px; height: 30px;
        font-size: 16px; font-weight: 600;
        background-color: black;
        color: white;
        border: none;
    }
    #startButton{
        width: 200px; height: 30px;
        font-size: 16px; font-weight: 600;
        background-color: black;
        color: white;
        border: none;
    }
    </style>

        <!-- 섹션 -->
        <section style="width: 100%">
            <!-- 콘텐츠 -->
            <div style="width: 90%">
                <h2>기업 기초 정보</h2>
                <hr/>
                <!-- 자바스크립트문구 -->
                <div id="questions"></div>
                 <!-- 자바스크립트문구 -->
                <div style="padding-top: 30px; padding-bottom: 30px;"> 
                    <button id="saveButton">저장하기</button> 
                    <button onClick="location.href='/member/diagnosis/SelfDiagnosisQuestion.html'" id="startButton">진단 시작하기</button>       
                </div>
            </div>
            <!-- 콘텐츠 -->
        </section>

    <!-- 스크립트 -->
    <script src="~/index/js/CompanyBasicInformation.js"></script>
