@{
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_dg_mgnt.cshtml";
    ViewData["Title"] = "기준정보 관리/진단 종류";
}
<style>
    select {
        width: 100px;
    }
</style>
<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>진단평가 관리</h2>
        <br />
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            <a href="#">진단 관리</a>
            &gt;
            진단평가 관리
        </div>
        <br>
        <hr style="border: solid 0.5px black; width: 100%;" />
        <!-- 진단평가 관리 -->
        <div style="display: inline-block;">
            <div id="buttonLocation">
                <form style="padding-top: 10px; display: inline-block;">
                    <select style="height: 30px; font-size: 16px; padding-right: 30px;
                            margin-bottom: 3px;">
                        <option>기업</option>
                        <option>진단평가입력상태</option>
                        <option>평가신청상태</option>
                    </select>
                </form>
                <input id="searchBox" type="text" placeholder="검색어 입력" />
                <button id="searchButton">검색</button>
            </div>
            <br>
            <div style="width: 90%; margin: auto;">
                <table id="table">
                    <tr align="center" bgcolor="skyblue">
                        <td>번호</td>
                        <td>기업</td>
                        <td>제출</td>
                        <td>진단평가입력상태</td>
                        <td>평가신청상태</td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td>1</td>
                        <td>(주) 기업명</td>
                        <td>2022.09.05</td>
                        <td>입력중</td>
                        <td>선정</td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td>2</td>
                        <td>(주) 기업명2</td>
                        <td>2022.09.22</td>
                        <td>완료</td>
                        <td>미선정</td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="buttonLocation">
                <input id="applyButton" type="submit" value="진단평가 신청하기" />
            </div>
        </div>
        <!-- 진단평가 관리 -->
        <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->