@{
    // Used Table []
    // 메인 - 메인
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!-- 스타일 지정 -->
<style type="text/css">
    /* 메인 화면 */
    #mainImg {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    section {
        float: left;
        width: 96.6%;
        height: calc( 100% - 300px );
        background: black;
        display: flex;
    }
    .contents {
        width: 100%;
        margin: 10px auto;
        position: relative;
    }
    .contents-text {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 100%;
        transform: translate(-30%, -50%);
        color: white;
    }
    .contents-text p:first-child {
        font-size: 40px;
        font-weight: 800;
    }
    #btn1 {
        width: 250px; height: 60px;
        background-color: transparent;
        border: solid 0.3px yellow;
        color: white;
        font-size: 24px;
    }
</style>
<!-- 스타일 지정 -->
<section class="content">
    <img id="mainImg" src="~/index/images/p-images/section1_bg.png" alt="">
    <div class="contents-text">
        <p>AI 기반 DX 진단 서비스</p>
        <p>국내 창업기업, 중소기업, 중견기업 대상 DT역량 진단</p>
        <a asp-area="" asp-controller="MemberDiagnosis" asp-action="SelfDiagnosis">
            <input id="btn1" type="submit" value="무료 체험" />
        </a>
        <p>케이아이포씨(Ki4C) 협동조합 AI 기반 DX진단 Service 전문가가 도와드립니다.</p>
    </div>
</section>

    <script>let IndexJS = {
            init: function () {
                this.bindEvent();
            },
            bindEvent: function () {
                $(".btn-login").on("click", function () {
                    let id = $("#id").val();
                    let pw = $("#pw").val();

                    if (IndexJS.isEmpty(id)) {
                        alert("아이디를 입력해주세요.");
                        return;
                    }

                    if (IndexJS.isEmpty(pw)) {
                        alert("비밀번호를 입력해주세요.");
                        return;
                    }

                    $("#loginForm").submit();
                });
            },
            isEmpty: function (value) {
                if (value == null || value == undefined || value == "") {
                    return true;
                } else {
                    return false;
                }
            },
        }

        $(document).ready(function () {
            IndexJS.init();
            if ($("#ValidateMessage").text() != "") {
                $('#loginSuccessModal').modal('show');
            }
        });

        $(".btn-close, .closeBtn").click(function () {
            $('#loginSuccessModal').modal('hide');
        });</script>