@{
    // Used Table [Member]
    // 고객관리시스템 - 고객목록
    // 선행작업 - 관리자 로그인
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_dg.cshtml";
    ViewData["Title"] = "기준정보 관리/진단 종류";
}
<style>
/* DiagnosisEvaluationMeasurement.html */
#table {
    border: "1";
    width: 800px; height: 100px;
    text-align: center;
    background-color:skyblue; border-color: white;
}
@@media (max-width: 768px){
    #table {
        width: 100%;
    }
}
</style>
<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>진단 평가영역 등록 및 목록</h2>
        <br />
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            <a href="#">기준 정보</a>
            &gt;
            진단 평가영역 등록 및 목록
        </div>
        <br>
        <hr style="width: 100%" />
        <!-- 입력 형식 -->
        <div style="padding-top: 30px; padding-left: 30px; height: 200px;">
            <a>평가척도 코드: </a>
            <div style="padding-top: 10px; display: inline-block;">
                <input type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="MeasurementCode" />
            </div>
            <br>
            <a>평가척도명: </a>
            <div style="padding-top: 10px; display: inline-block;">
                <input type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="MeasurementName" />
            </div>
            <div style="padding-top: 30px; padding-left: 50px;">
                <input id="registButton" type="submit" value="등록" />
                <input id="modifyButton" type="submit" value="수정" />
            </div>
        </div>
        <!-- 진단 평가영역 등록 -->
        <hr />
        <!-- 진단 평가영역 목록 -->
        <div style="display: inline-block;">
            <div id="buttonLocation">
                <input type="text" placeholder="검색어 입력" />
                <button id="searchButton">검색</button>
            </div>
            <br>
            <div style="width: 90%; margin: auto;">
                <table id="DiagnosisEvaluationMeasurementList" class="display">
                </table>
            </div>
            <div id="buttonLocation">
                <input id="deleteButton" type="submit" value="항목 삭제" />
            </div>
        </div>
        <!-- 입력 형식 -->
        <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->

<script>
    let MeasurementJS = {
        init : function(){
            let _this = this;
            $('#registButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.regist();
                }
            });
            $('#modifyButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.modify();
                }
            });
            $('#deleteButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.delete();
                }
            });
            $(document).on('click', '#MeasurementNumber', function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().siblings().find('#MeasurementNumber').prop('checked', false);
                }
            });
            $(document).on('change', '#MeasurementNumber', function () {
                _this.checkedChange();
            });
        },
        ValidateCheck : function(){
            if ($('input:checkbox[id="MeasurementNumber"]:checked') == null || $('input:checkbox[id="MeasurementNumber"]:checked').length == 0) {
                alert("평가척도를 선택해주세요.");
                return false;
            };
            let MeasurementCode = $('#MeasurementCode').val();
            let MeasurementName = $('#MeasurementName').val();
            if (MeasurementCode == "") {
                alert("평가척도 코드를 입력해주세요.");
                return false;
            }
            if (MeasurementName == "") {
                alert("평가척도 명을 입력해주세요.");
                return false;
            }
            return true;
        },
        isEmpty : function (value) {
            if (value == null || value == undefined || value == "") {
                return true;
            }
            return false;
        },
        checkedChange : function(){
            let MeasurementNumber = [];
            let MeasurementCode = [];
            let MeasurementName = [];
            $('input:checkbox[id="MeasurementNumber"]:checked').each(function () {
                MeasurementNumber.push($(this).val());
                let code = $(this).parent().parent().find('td:eq(1)').text();
                let name = $(this).parent().parent().find('td:eq(2)').text();
                MeasurementCode.push(code);
                MeasurementName.push(name);
            });
            console.log(MeasurementNumber, MeasurementCode, MeasurementName)
            $('#MeasurementCode').val(MeasurementCode);
            $('#MeasurementName').val(MeasurementName);
        },
        MeasurementList : function(){
            // /api/APIManagerStandardInforMgr/Measurement/getAll
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/Measurement/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                data = JSON.parse(data);
                let html = '';
                html += '<thead>';
                html += '<tr align="center" bgcolor="skyblue">';
                html += '<th>번호</th>';
                html += '<th>평가척도 코드</th>';
                html += '<th>평가척도 명</th>';
                html += '<th>삭제</th>';
                html += '</tr>';
                html += '</thead>';
                html += '<tbody>';
                $.each(data, function (index, item) {
                    html += '<tr align="center" bgcolor="white">';
                    html += '<td>' + item.MeasurementNumber + '</td>';
                    html += '<td>' + item.MeasurementCode + '</td>';
                    html += '<td>' + item.MeasurementName + '</td>';
                    html += '<td><input type="checkbox" id="MeasurementNumber" value="' + item.MeasurementNumber + '"></td>';
                    html += '</tr>';
                });
                html += '</tbody>';
                MeasurementJS.RefreshMeasurementList();
                $('#DiagnosisEvaluationMeasurementList').html(html);
                $('#DiagnosisEvaluationMeasurementList').DataTable();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        RefreshMeasurementList : function(){
            $('#DiagnosisEvaluationMeasurementList').empty();
        },
        regist : function(){
            alert('등록');
            let MeasurementCode = $('#MeasurementCode').val();
            let MeasurementName = $('#MeasurementName').val()
            let data = {
                "MeasurementCode": MeasurementCode,
                "MeasurementName": MeasurementName
            };
            $.ajax({
                type: 'POST',
                url: '/api/APIManagerStandardInforMgr/Measurement/insert',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('등록이 완료되었습니다.');
                MeasurementJS.MeasurementList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        modify : function(){
            alert('수정');
            let data = {
                MeasurementNumber: $('input:checkbox[id="MeasurementNumber"]:checked').val(),
                MeasurementCode: $('#MeasurementCode').val(),
                MeasurementName: $('#MeasurementName').val()
            };
            $.ajax({
                type: 'PUT',
                url: '/api/APIManagerStandardInforMgr/Measurement/update',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('수정이 완료되었습니다.');
                MeasurementJS.MeasurementList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        delete : function(){
            let MeasurementNumber = $('input:checkbox[id="MeasurementNumber"]:checked').val();
            let data = {
                MeasurementNumber: MeasurementNumber
            };
            $.ajax({
                type: 'DELETE',
                url: '/api/APIManagerStandardInforMgr/Measurement/delete/',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('삭제가 완료되었습니다.');
                MeasurementJS.MeasurementList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },


    }

    //ready
    $(document).ready(function () {
        MeasurementJS.init();
        MeasurementJS.MeasurementList();
    });

</script>