@{
    // Used Table [Member]
    // 고객관리시스템 - 고객목록
    // 선행작업 - 관리자 로그인
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_dg.cshtml";
    ViewData["Title"] = "기준정보 관리/진단 종류";
}
<style>
    #DiagnosisEvaluationQuestionList_filter > label > input {
        width: 150px;
        height: 25px;
        border: solid 0.5px #2B92D5;
        border-radius: 10px;
        padding: 2px;
        margin-right: 5px;
    }

    #DiagnosisEvaluationQuestionList_length > label > select {
        width: 150px;
        height: 25px;
        padding: 3px;
        border: solid 0.3px #34B0C7;
        border-radius: 0.5em;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    }

    #DiagnosisEvaluationQuestionList_paginate {
        float: left;
        margin-left: 25%;
    }

    @@media (max-width: 768px) {
        #DiagnosisEvaluationQuestionList_paginate {
            float: left;
            margin-left: 15%;
        }
    }
</style>
<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>평가문제 등록</h2>
        <br />
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            <a href="#">기준 정보</a>
            &gt;
            평가문제 등록
        </div>
        <br>
        <hr style="width: 100%" />
        <!-- 평가문제 등록 -->
        <div style="padding-top: 10px; padding-left: 30px; height: 350px;">
            <a>평가구문 : </a>
            <div style="padding-right: 30px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisClassSelecter">
                </select>
            </div>
            <br />
            <a>평가영역 : </a>
            <div style="padding-left: 50px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisEvaluationAreaSelecter">
                </select>
            </div>
            <br>
            <a>평가문제 코드 : </a>
            <div style="padding-top: 10px; display: inline-block;">
                <input class="inputType1" type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="EvaluationQuestionCode" />
            </div>
            <br>
            <a>평가문제 : </a>
            <div style="padding-top: 10px; display: inline-block;">
                <input class="inputType1" type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="EvaluationQuestionContents" />
            </div>
            <br>
            <a>입력방식 : </a>
            <div style="padding-top: 10px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;" id="inputTypeSelecter">
                </select>
            </div>
            <br>
            <a>평가척도 : </a>
            <div style="padding-top: 10px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;" id="MeasurementSelecter">
                </select>
            </div>
            <br>
            <a>지문 : </a>
            <div id="answerForm" style="display: inline-block;">
                <input class="inputType2" type="text" id="answerInput" placeholder="추가할 지문을 입력하세요" required />
                <button class="btnType1" id="answerButton" type="button">추가</button>
            </div>
            <ul id="answerList"></ul>
            <br>
            <div style="padding-top: 30px; padding-left: 50px;">
                <input class="btnType1" id="registButton" type="submit" value="등록" />
                <input class="btnType1" id="modifyButton" type="submit" value="수정" />
                <input class="btnType1" id="QuestionDetailsButton" type="button" value="문제수정" />
            </div>
        </div> <br> <br> <br>
        <!-- 평가문제 등록 -->
        <hr />
        <!-- 평가문제 목록 -->
        <div style="display: inline-block;">
            <br>
            <div style="width: 80%; margin: 0 auto;">
                <table class="table display"
                       id="DiagnosisEvaluationQuestionList">
                </table>
            </div>
            <div id="buttonLocation">
                <input class="btnType2" id="deleteButton" type="submit" value="항목 삭제" />
            </div>
        </div>
        <!-- 평가문제 목록 -->
        <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->
<script>let DiagnosisClassSelecterObj = [];
    let DiagnosisEvaluationAreaSelecterObj = [];
    let DiagnosisEvaluationQuestionListObj = [];

    let DiagnosisEvaluationQnAJS = {
        init: function () {
            let _this = this;
            $('#registButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.regist();
                }
            });
            $('#modifyButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.modify();
                }
            });
            $('#deleteButton').on('click', function () {
                if (_this.DeleteValidateCheck()) {
                    _this.delete();
                }
            });
            $('#QuestionDetailsButton').on('click', function () {
                let EvaluationQuestionNumber = $('#EvaluationQuestionNumber:checked').val();
                if (EvaluationQuestionNumber.length == null || EvaluationQuestionNumber.length == 0) {
                    alert('삭제할 항목을 선택해주세요.');
                    return;
                }else{
                    _this.QuestionDetails();
                }
            });
            $('#answerButton').on('click', function () {
                _this.addAnswer();
            });

            $('#DiagnosisClassSelecter').on('change', function () {
                var diagnosisClassNumber = $(this).val();
                diagnosisClassNumber = parseInt(diagnosisClassNumber);
                DiagnosisEvaluationQnAJS.RefreshDiagnosisEvaluationAreaSelecter();

                if (diagnosisClassNumber) {
                    // filter area list by selected diagnosis class
                    var filteredAreaList = $.grep(DiagnosisEvaluationAreaSelecterObj, function (area) {
                        return area.DiagnosisClassNumber == diagnosisClassNumber;
                    });
                    if (filteredAreaList.length == 0) {
                        $(DiagnosisEvaluationAreaSelecter).append('<option value="0">평가구분없음</option>');
                        //disable
                        $(DiagnosisEvaluationAreaSelecter).prop('disabled', true);
                    } else {
                        $.each(filteredAreaList, function (index, value) {
                            $(DiagnosisEvaluationAreaSelecter).append('<option value="' + value.AreaNumber + '">' + value.AreaNumber + ' - ' + value.EvaluationAreaCode + ' - ' + value.EvaluationAreaName + '</option>');
                        });
                        $(DiagnosisEvaluationAreaSelecter).prop('disabled', false);
                    }
                }
            });
            $(document).on('click', '#EvaluationQuestionNumber', function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().siblings().find('#EvaluationQuestionNumber').prop('checked', false);
                }
            });
            $(document).on('change', '#EvaluationQuestionNumber', function () {
                _this.checkedChange();
            });
        },
        QuestionDetails : function(){
            //QnADetails.cshtml page model open
            let EvaluationQuestionNumber = $('#EvaluationQuestionNumber:checked').val();

        },
        regist: function () {
            alert('등록');
            let DiagnosisEvaluationAreaNumber = $('#DiagnosisEvaluationAreaSelecter option:selected').val();
            let EvaluationQuestionCode = $('#EvaluationQuestionCode').val();
            let EvaluationQuestionContents = $('#EvaluationQuestionContents').val();
            let data = {
                "DiagnosisEvaluationAreaNumber": DiagnosisEvaluationAreaNumber,
                "EvaluationQuestionCode": EvaluationQuestionCode,
                "EvaluationQuestionContents": EvaluationQuestionContents
            };
            $.ajax({
                type: 'POST',
                url: '/api/APIManagerStandardInforMgr/DiagnosisEvaluationQuestion/insert',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('등록이 완료되었습니다.');
                DiagnosisEvaluationQnAJS.DiagnosisEvaluationQuestionList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        modify: function () {
            alert('수정');
            let EvaluationQuestionNumber = $('#EvaluationQuestionNumber:checked').val();
            let DiagnosisEvaluationAreaNumber = $('#DiagnosisEvaluationAreaSelecter option:selected').val();
            let EvaluationQuestionCode = $('#EvaluationQuestionCode').val();
            let EvaluationQuestionContents = $('#EvaluationQuestionContents').val();
            let data = {
                "EvaluationQuestionNumber": EvaluationQuestionNumber,
                "DiagnosisEvaluationAreaNumber": DiagnosisEvaluationAreaNumber,
                "EvaluationQuestionCode": EvaluationQuestionCode,
                "EvaluationQuestionContents": EvaluationQuestionContents
            };
            $.ajax({
                type: 'PUT',
                url: '/api/APIManagerStandardInforMgr/DiagnosisEvaluationQuestion/update',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('수정이 완료되었습니다.');
                DiagnosisEvaluationQnAJS.DiagnosisEvaluationQuestionList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        delete: function () {
            alert('삭제');
            let EvaluationQuestionNumber = $('#EvaluationQuestionNumber:checked').val();
            if (EvaluationQuestionNumber.length == null || EvaluationQuestionNumber.length == 0) {
                alert('삭제할 항목을 선택해주세요.');
                return;
            }
            let data = {
                "EvaluationQuestionNumber": EvaluationQuestionNumber
            };
            $.ajax({
                type: 'DELETE',
                url: '/api/APIManagerStandardInforMgr/DiagnosisEvaluationQuestion/delete',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('삭제가 완료되었습니다.');
                DiagnosisEvaluationQnAJS.DiagnosisEvaluationQuestionList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        QuestionDetailInfo: function () {
            alert('상세정보');
        },
        isEmpty: function (value) {
            if (value == null || value == undefined || value == "") {
                return true;
            } else {
                return false;
            }
        },
        ValidateCheck: function () {
            if ($('input:checkbox[id="EvaluationQuestionNumber"]:checked').length == null || $('input:checkbox[id="EvaluationQuestionNumber"]:checked').length == 0) {
                alert('수정 및 삭제할 항목을 선택해주세요.');
                return false;
            }
            if ($('#DiagnosisClassSelecter option:selected').val() == 0) {
                alert('진단구분를 선택해주세요.');
                return false;
            }
            if ($('#DiagnosisEvaluationAreaSelecter option:selected').val() == 0) {
                alert('진단영역를 선택해주세요.');
                return false;
            }
            if ($('#inputTypeSelecter option:selected').val() == 0) {
                alert('입력방식을 선택해주세요.');
                return false;
            }
            if ($('#EvaluationQuestionCode').val() == '') {
                alert('진단평가영역코드를 입력해주세요.');
                return false;
            }
            if ($('#EvaluationQuestionContents').val() == '') {
                alert('진단평가영역명을 입력해주세요.');
                return false;
            }
            return true;
        },
        DeleteValidateCheck: function () {
            if ($('input:checkbox[id="EvaluationQuestionNumber"]:checked').length == null || $('input:checkbox[id="EvaluationQuestionNumber"]:checked').length == 0) {
                alert('삭제할 항목을 선택해주세요.');
                return false;
            }
            return true;
        },
        DiagnosisClassList: function () {
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/DiagnosisClass/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = JSON.parse(data);
                    DiagnosisClassSelecterObj = data;
                    let html = '';
                    html += '<option value="0">진단구분</option>';
                    $.each(data, function (index, item) {
                        html += '<option value="' + item.DiagnosisClassNumber + '">' + item.DiagnosisClassNumber + ' - ' + item.DiagnosisClassCode + ' - ' + item.DiagnosisClassName + '</option>';
                    });
                    DiagnosisEvaluationQnAJS.RefreshDiagnosisClassSelecter();
                    $('#DiagnosisClassSelecter').html(html);
                }
            });
        },
        DiagnosisEvaluationAreaList: function () {
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/DiagnosisEvaluationArea/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = JSON.parse(data);
                    DiagnosisEvaluationAreaSelecterObj = data;
                }
            });
        },
        DiagnosisInputTypeList: function () {
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/InputType/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = JSON.parse(data);
                    let html = '';
                    html += '<option value="0">입력방식</option>';
                    $.each(data, function (index, item) {
                        html += '<option value="' + item.InputTypeNumber + '">' + item.InputTypeNumber + ' - ' + item.InputTypeCode + ' - ' + item.InputTypeName + '</option>';
                    });
                    $('#inputTypeSelecter').html(html);
                }
            });
        },
        DiagnosisMeasurementList: function () {
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/Measurement/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = JSON.parse(data);
                    let html = '';
                    html += '<option value="0">측정단위</option>';
                    $.each(data, function (index, item) {
                        html += '<option value="' + item.MeasurementNumber + '">' + item.MeasurementNumber + ' - ' + item.MeasurementCode + ' - ' + item.MeasurementName + '점' + '</option>';
                    });
                    $('#MeasurementSelecter').html(html);
                }
            });
        },
        DiagnosisEvaluationQuestionList: function () {
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/DiagnosisEvaluationQuestion/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = JSON.parse(data);
                    DiagnosisEvaluationQuestionListObj = data;
                    let html = '';
                    html += '<thead>';
                    html += '<tr align="center" bgcolor="#2B92D5" style="color:#F8F8FF">';
                    html += '<td>문제번호</td>';
                    html += '<td>진단영역번호</td>';
                    html += '<td>평가문제코드</td>';
                    html += '<td>평가문제명</td>';
                    html += '<td>선택</td>';
                    html += '</tr>';
                    html += '</thead>';
                    html += '<tbody>';
                    $.each(data, function (index, item) {
                        html += '<tr align="center" bgcolor="white">';
                        html += '<td>' + item.EvaluationQuestionNumber + '</td>';
                        html += '<td>' + item.AreaNumber + '</td>';
                        html += '<td>' + item.EvaluationQuestionCode + '</td>';
                        html += '<td>' + item.EvaluationQuestionContents + '</td>';
                        html += '<td><input type="checkbox" id="EvaluationQuestionNumber" value="' + item.EvaluationQuestionNumber + '"></td>';
                        html += '</tr>';
                    });
                    html += '</tbody>';
                    DiagnosisEvaluationQnAJS.RefreshDiagnosisEvaluationQuestionList();
                    $('#DiagnosisEvaluationQuestionList').html(html);
                    $('#DiagnosisEvaluationQuestionList').DataTable({
                        language: {
                            url: '../../lib/ko.json'
                        },
                        buttons: [
                            'copy', 'excel', 'pdf'
                        ]
                    })
                    ;
                }
            });
        },
        RefreshDiagnosisEvaluationAreaSelecter: function () {
            $('#DiagnosisEvaluationAreaSelecter').empty();
        },
        RefreshDiagnosisClassSelecter: function () {
            $('#DiagnosisClassSelecter').empty();
        },
        RefreshDiagnosisEvaluationQuestionList: function () {
            $('#DiagnosisEvaluationQuestionList').empty();
        },
        checkedChange: function () {
            //checkbox checked
            let DiagnosisEvaluationAreaNumber = [];
            let EvaluationQuestionNumber = [];
            let EvaluationQuestionCode = [];
            let EvaluationQuestionContents = [];

            $('input:checkbox[id="EvaluationQuestionNumber"]:checked').each(function () {
                let number = $(this).parent().parent().find('td:eq(0)').text();
                let AreaNumber = $(this).parent().parent().find('td:eq(1)').text();
                let code = $(this).parent().parent().find('td:eq(2)').text();
                let Contents = $(this).parent().parent().find('td:eq(3)').text();
                EvaluationQuestionNumber.push(number);
                DiagnosisEvaluationAreaNumber.push(AreaNumber);
                EvaluationQuestionCode.push(code);
                EvaluationQuestionContents.push(Contents);
            });
            //해당 내용에 적합한 로직 추가 작성 23-02-28
            //$('#EvaluationQuestionNumber').val(EvaluationQuestionNumber);
            //$('#DiagnosisEvaluationAreaSelecter').val(DiagnosisEvaluationAreaNumber);
            $('#EvaluationQuestionCode').val(EvaluationQuestionCode);
            $('#EvaluationQuestionContents').val(EvaluationQuestionContents);
        },
        addAnswer: function () {
            // answer-input text add answer-list
            let answer = $('#answerInput').val();
            let html = '';
            html += '<li class="list-group-item">';
            html += '<div class="row">';
            html += '<div class="col-10">';
            html += '<input class="inputType2" type="text" class="form-control" value="' + answer + '" readonly>';
            html += '</div>';
            html += '<div class="col-2">';
            html += '<button class="btnType1" type="button" class="btn btn-danger" onclick="DiagnosisEvaluationQnAJS.deleteAnswer(this)">삭제</button>';
            html += '</div>';
            html += '</div>';
            html += '</li>';
            $('#answerList').append(html);
            $('#answerInput').val('');
        },
        deleteAnswer: function (obj) {
            $(obj).parent().parent().parent().remove();
        },
    };

    //ready
    $(document).ready(function () {
        DiagnosisEvaluationQnAJS.init();
        DiagnosisEvaluationQnAJS.DiagnosisClassList();
        DiagnosisEvaluationQnAJS.DiagnosisEvaluationAreaList();
        DiagnosisEvaluationQnAJS.DiagnosisInputTypeList();
        DiagnosisEvaluationQnAJS.DiagnosisMeasurementList();
        DiagnosisEvaluationQnAJS.DiagnosisEvaluationQuestionList();

        const tableName = 'DiagnosisEvaluationQuestionList';
        const insideTable = document.querySelector(`#${tableName}`);
        if (matchMedia("screen and (min-width: 768px)").matches) {
            // 768px 이상에서 사용할 JavaScript
            insideTable.style.width = "700px";
        } else {
            // 768px 미만에서 사용할 JavaScript
            insideTable.style.width = "350px";
        }
        insideTable.style.padding = "5px";

        const search = document.querySelector(`#${tableName}_filter`);
        //const searchLabel = document.querySelector(`#${tableName}_filter label`);
        //searchLabel.innerText = searchLabel.innerText.replace("검색:", "");
        const button = document.createElement("button");
        button.classList.add("btnType1");
        button.id = "searchButton";
        button.innerText = "검색";
        search.appendChild(button);

        const searchBox = document.querySelector(`#${tableName}_filter label input`);
        searchBox.placeholder = "검색어 입력";
    });


    function showPopUp() {

        //창 크기 지정
        let width = 800;
        let height = 600;

        //pc화면기준 가운데 정렬
        let left = (window.screen.width / 2) - (width / 2);
        let top = (window.screen.height / 4);

        //윈도우 속성 지정
        let windowStatus = 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + ', scrollbars=yes, status=yes, resizable=yes, titlebar=yes';

        //연결하고싶은url
        const url = "QnADetails.html";

        //등록된 url 및 window 속성 기준으로 팝업창을 연다.
        window.open(url, "hello popup", windowStatus);
    }</script>