@{
    // Used Table [Member]
    // 고객관리시스템 - 고객목록
    // 선행작업 - 관리자 로그인
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_dg.cshtml";
    ViewData["Title"] = "기준정보 관리/진단 종류";
}
<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>평가문제 등록</h2>
        <div style="float: right;">
            <a href="#">Home</a>
            &gt;
            <a href="#">기준 정보</a>
            &gt;
            평가문제 등록
        </div>
        <br>
        <hr />
        <!-- 평가문제 등록 -->
        <div style="padding-top: 30px; padding-left: 30px; height: 200px;">
            <div style="padding-right: 30px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisClassSelecter">
                </select>
            </div>
            <div style="padding-left: 50px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisEvaluationAreaSelecter">

                </select>
            </div>
            <div style="padding-left: 50px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;" id="inputTypeSelecter">
                </select>
            </div>
            <br>
            <a>평가문제 코드: </a>
            <div style="padding-top: 10px; display: inline-block;">
                <input type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="EvaluationQuestionCode" />
            </div>
            <br>
            <a>평가문제: </a>
            <div style="padding-top: 10px; display: inline-block;">
                <input type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="EvaluationQuestionContents" />
            </div>
            <div style="padding-top: 30px; padding-left: 50px;">
                <input id="registButton" type="submit" value="등록" />
                <input id="modifyButton" type="submit" value="수정" />
            </div>
        </div> <br> <br> <br>
        <!-- 평가문제 등록 -->
        <hr />
        <!-- 평가문제 목록 -->
        <div style="display: inline-block;">
            <div id="buttonLocation">
                <input type="text" placeholder="검색어 입력" />
                <button id="searchButton">검색</button>
            </div>
            <br>
            <div style="width: 90%; margin: auto;">
                <table id="DiagnosisEvaluationQuestionList" class="diaplay">
                </table>
            </div>
            <div id="buttonLocation">
                <input id="deleteButton" type="submit" value="항목 삭제" />
            </div>
        </div>
        <!-- 평가문제 목록 -->
        <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->
<script>
    let DiagnosisClassSelecterObj = [];
    let DiagnosisEvaluationAreaSelecterObj = [];
    let DiagnosisEvaluationQnAJS = {
        init: function () {
            let _this = this;
            $('#registButton').on('click', function () {
                if(_this.ValidateCheck()){
                    _this.regist();
                }
            });
            $('#modifyButton').on('click', function () {
                if (_this.ValidateCheck()){
                    _this.modify();
                }
            });
            $('#deleteButton').on('click', function () {
                if(_this.ValidateCheck()){
                    _this.delete();
                }
            });
            $('#DiagnosisClassSelecter').on('change', function () {
                var diagnosisClassNumber = $(this).val();
                console.log(diagnosisClassNumber);
                diagnosisClassNumber = parseInt(diagnosisClassNumber);
                DiagnosisEvaluationQnAJS.RefreshDiagnosisEvaluationAreaSelecter();

                if (diagnosisClassNumber) {
                    // filter area list by selected diagnosis class
                    var filteredAreaList = $.grep(DiagnosisEvaluationAreaSelecterObj, function (area) {
                    return area.DiagnosisClassNumber == diagnosisClassNumber;
                    });

                    if(filteredAreaList.length == 0){
                        $(DiagnosisEvaluationAreaSelecter).append('<option value="0">평가구분을 선택해주세요.</option>');
                    }

                    // populate evaluation area options
                    $.each(filteredAreaList, function(index, value) {
                        $(DiagnosisEvaluationAreaSelecter).append('<option value="' + value.AreaNumber + '">' + value.EvaluationAreaName + '</option>');
                    });
                }
            });
        },
        regist: function () {
            alert('등록');
        },
        modify: function () {
            alert('수정');
        },
        delete: function () {
            alert('삭제');
        },
        showPopUp : function () {
        },
        isEmpty: function (value) {
            if (value == null || value == undefined || value == "") {
                return true;
            } else {
                return false;
            }
        },
        ValidateCheck : function(){
            if ($('#DiagnosisClassSelecter option:selected').val() == 0) {
                alert('진단구분를 선택해주세요.');
                return false;
            }
            if ($('#DiagnosisEvaluationAreaSelecter option:selected').val() == 0) {
                alert('진단영역를 선택해주세요.');
                return false;
            }
            if ($('#inputTypeSelecter option:selected').val() == 0) {
                alert('진단종류를 선택해주세요.');
                return false;
            }
            if ($('#EvaluationQuestionCode').val() == '') {
                alert('진단평가영역코드를 입력해주세요.');
                return false;
            }
            if ($('#EvaluationQuestionContents').val() == '') {
                alert('진단평가영역명을 입력해주세요.');
                return false;
            }
            return true;
        },
        DiagnosisClassList : function(){
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/DiagnosisClass/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = JSON.parse(data);
                    DiagnosisClassSelecterObj = data;
                    console.log(data)
                    let html = '';
                    html += '<option value="0">진단구분</option>';
                    $.each(data, function (index, item) {
                        html += '<option value="' + item.DiagnosisClassNumber + '">' + item.DiagnosisClassNumber + ' - ' + item.DiagnosisClassCode + ' - ' + item.DiagnosisClassName + '</option>';
                    });
                    DiagnosisEvaluationQnAJS.RefreshDiagnosisClassSelecter();
                    $('#DiagnosisClassSelecter').html(html);
                }
            });
        },
        DiagnosisEvaluationAreaList : function(){
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/DiagnosisEvaluationArea/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    data = JSON.parse(data);
                    DiagnosisEvaluationAreaSelecterObj = data;
                    console.log(data)
                    //let html = '';
                    //html += '<option value="0">진단영역</option>';
                    //$.each(data, function (index, item) {
                    //    html += '<option value="' + item.EvaluationAreaCode + '">' + item.EvaluationAreaName + '</option>';
                    //});
                    //$('#DiagnosisEvaluationAreaSelecter').html(html);
                }
            });
        },
        RefreshDiagnosisEvaluationAreaSelecter: function () {
            $('#DiagnosisEvaluationAreaSelecter').empty();
        },
        RefreshDiagnosisClassSelecter : function(){
            $('#DiagnosisClassSelecter').empty();
        }

    };

    //ready
    $(document).ready(function () {
        DiagnosisEvaluationQnAJS.init();
        DiagnosisEvaluationQnAJS.DiagnosisClassList();
        DiagnosisEvaluationQnAJS.DiagnosisEvaluationAreaList();
    });


    function showPopUp() {

        //창 크기 지정
        let width = 800;
        let height = 600;

        //pc화면기준 가운데 정렬
        let left = (window.screen.width / 2) - (width / 2);
        let top = (window.screen.height / 4);

        //윈도우 속성 지정
        let windowStatus = 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + ', scrollbars=yes, status=yes, resizable=yes, titlebar=yes';

        //연결하고싶은url
        const url = "QnADetails.html";

        //등록된 url 및 window 속성 기준으로 팝업창을 연다.
        window.open(url, "hello popup", windowStatus);
    }
</script>