@{
    // Used Table [Member]
    // 고객관리시스템 - 고객목록
    // 선행작업 - 관리자 로그인
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_dg.cshtml";
    ViewData["Title"] = "기준정보 관리/진단 종류";
    @model Ki4C_Solution.Models.Manager.StandardInfoMgr.DiagnosisType;
}
<style>
    #DiagnosisTypeList_filter > label > input {
        width: 150px;
        height: 25px;
        border: solid 0.5px #2B92D5;
        border-radius: 10px;
        padding: 2px;
        margin-right: 5px;
    }

    #DiagnosisTypeList_length > label > select {
        width: 150px;
        height: 25px;
        padding: 3px;
        border: solid 0.3px #34B0C7;
        border-radius: 0.5em;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    }

    #DiagnosisTypeList_paginate {
        float: left;
        margin-left: 25%;
    }

    @@media (max-width: 768px) {
        #DiagnosisTypeList_paginate {
            float: left;
            margin-left: 15%;
        }
    }
</style>
<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>진단 종류 등록</h2>
        <br />
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            <a href="#">기준 정보</a>
            &gt;
            진단 종류 등록
        </div>
        <br>
        <hr style="width: 100%" />
        <!-- 진단 종류 등록 -->
        <div style="padding-top: 30px; padding-left: 30px; height: 200px;">
            <a>진단종류코드: </a>
            <div style="padding-top: 10px; display: inline-block;">
                <input class="inputType1" type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisTypeCode" asp-for="DiagnosisTypeCode" />
            </div>
            <br>
            <a>진단종류명: </a>
            <div style="padding-top: 10px; padding-left: 14px; display: inline-block;">
                <input class="inputType1" type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisTypeName" asp-for="DiagnosisTypeName" />
            </div>
            <div style="padding-top: 30px; padding-left: 50px;">
                <input class="btnType1" id="registButton" type="submit" value="등록" />
                <input class="btnType1" id="modifyButton" type="submit" value="수정" />
            </div>
        </div>
        <!-- 진단 종류 등록 -->
        <hr />
        <!-- 진단 종류 목록 -->
        <div style="display: inline-block;">
            <br>
            <div style="width: 90%; margin: auto;">
                <table class="display" id="DiagnosisTypeList"></table>
            </div>
            <div id="buttonLocation">
                <input class="btnType2" id="deleteButton" type="submit" value="항목 삭제" />
            </div>
        </div>
        <!-- 진단 종류 목록 -->
    </div>
    <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->

<script>let DIagnosisTypeJS = {
        init: function () {
            let _this = this;
            $('#registButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.regist();
                };;
            });
            $('#modifyButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.modify();
                };;
            });
            $('#deleteButton').on('click', function () {
                _this.delete();
            });
            $(document).on('click', '#DiagnosisTypeNumber', function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().siblings().find('#DiagnosisTypeNumber').prop('checked', false);
                }
            });
            //checked change event function call and init() add
            $(document).on('change', '#DiagnosisTypeNumber', function () {
                _this.checkedChange();
            });
        },
        regist: function () {
            alert('등록');
            $.ajax({
                type: 'POST',
                url: '/api/APIManagerStandardInforMgr/DiagnosisType/insert',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    DiagnosisTypeCode: $('#DiagnosisTypeCode').val(),
                    DiagnosisTypeName: $('#DiagnosisTypeName').val()
                })
            }).done(function () {
                alert('진단 종류 등록이 완료되었습니다.');
                DIagnosisTypeJS.DiagnosisTypeList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        modify: function () {
            alert('수정');
            let DiagnosisTypeNumber = [];
            $('#DiagnosisTypeNumber:checked').each(function () {
                DiagnosisTypeNumber.push($(this).val());
            });
            $.ajax({
                type: 'PUT',
                url: '/api/APIManagerStandardInforMgr/DiagnosisType/update',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    DiagnosisTypeNumber: DiagnosisTypeNumber[0],
                    DiagnosisTypeCode: $('#DiagnosisTypeCode').val(),
                    DiagnosisTypeName: $('#DiagnosisTypeName').val()
                })
            }).done(function () {
                alert('진단 종류 수정이 완료되었습니다.');
                DIagnosisTypeJS.DiagnosisTypeList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        delete: function () {
            alert('삭제');
            //checkbox checked DiagnosisTypeCode & DiagnosisTypeName 가져오기
            let DiagnosisTypeCode = [];
            let DiagnosisTypeName = [];
            let DiagnosisTypeNumber = [];

            $('#DiagnosisTypeNumber:checked').each(function () {
                DiagnosisTypeNumber.push($(this).val());
                let code = $(this).parent().parent().find('td:eq(1)').text();
                let name = $(this).parent().parent().find('td:eq(2)').text();
                DiagnosisTypeCode.push(code);
                DiagnosisTypeName.push(name);
            });

            if (DiagnosisTypeNumber.length == null || DiagnosisTypeNumber.length == 0) {
                alert('삭제할 항목을 선택해주세요.');
                return;
            }
            if (confirm('\n삭제할 항목 코드 : ' + DiagnosisTypeCode + '\n삭제할 항목 이름 : ' + DiagnosisTypeName + '\n 해당 진단 종류를 삭제하시겠습니까?')) {
                // 하나씩 삭제
                $.ajax({
                    type: 'DELETE',
                    url: '/api/APIManagerStandardInforMgr/DiagnosisType/delete',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        DiagnosisTypeNumber: DiagnosisTypeNumber[0],
                        DiagnosisTypeCode: DiagnosisTypeCode[0],
                        DiagnosisTypeName: DiagnosisTypeName[0]
                    })
                }).done(function () {
                    alert('진단 종류 삭제가 완료되었습니다.');
                    DIagnosisTypeJS.DiagnosisTypeList();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            } else {
                alert('항목 이름 : ' + DiagnosisTypeName + ' \n 취소 되었습니다.');
            }
        },
        DiagnosisTypeList: function () {
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/DiagnosisType/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                data = JSON.parse(data);
                let html = '<thead><tr align="center" bgcolor="#2B92D5" style="color:#F8F8FF">'
                    + '<td> 번호 </td>'
                    + '<td> 진단종류코드 </td>'
                    + '<td> 진단종류명 </td>'
                    + '<td> 삭제 </td>'
                    + '</tr></thead><tbody>';
                data.forEach(function (item) {
                    html += '<tr align="center" bgcolor="white">';
                    html += '<td>' + item.DiagnosisTypeNumber + '</td>';
                    html += '<td>' + item.DiagnosisTypeCode + '</td>';
                    html += '<td>' + item.DiagnosisTypeName + '</td>';
                    html += '<td><input type="checkbox" id="DiagnosisTypeNumber" value="' + item.DiagnosisTypeNumber + '"></td>';
                    html += '</tr>';
                });
                html += '</tbody>';
                DIagnosisTypeJS.RefreshDiagnosisTypeList();
                $('#DiagnosisTypeList').append(html);
                $('#DiagnosisTypeList').DataTable({
                    language: {
                        url: '../../lib/ko.json'
                    },
                });
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        // DiagnosisTypeList table tag refresh
        RefreshDiagnosisTypeList: function () {
            $('#DiagnosisTypeList').empty();
        },
        checkedChange: function () {
            let DiagnosisTypeCode = [];
            let DiagnosisTypeName = [];
            $('#DiagnosisTypeNumber:checked').each(function () {
                let code = $(this).parent().parent().find('td:eq(1)').text();
                let name = $(this).parent().parent().find('td:eq(2)').text();
                DiagnosisTypeCode.push(code);
                DiagnosisTypeName.push(name);
            });
            $('#DiagnosisTypeCode').val(DiagnosisTypeCode);
            $('#DiagnosisTypeName').val(DiagnosisTypeName);
        },
        ValidateCheck: function () {
            if ($('#DiagnosisTypeCode').val() == '') {
                alert('진단 종류 코드를 입력해주세요.');
                $('#DiagnosisTypeCode').focus();
                return false;
            }
            if ($('#DiagnosisTypeName').val() == '') {
                alert('진단 종류 이름을 입력해주세요.');
                $('#DiagnosisTypeName').focus();
                return false;
            }
            return true;
        },





    }


    $(document).ready(function () {
        DIagnosisTypeJS.init();
        DIagnosisTypeJS.DiagnosisTypeList();

        const tableName = 'DiagnosisTypeList'
        const insideTable = document.querySelector(`#${tableName}`);
        if (matchMedia("screen and (min-width: 768px)").matches) {
            // 768px 이상에서 사용할 JavaScript
            insideTable.style.width = "700px";
        } else {
            // 768px 미만에서 사용할 JavaScript
            insideTable.style.width = "350px";
        }
        insideTable.style.padding = "5px";

        const search = document.querySelector(`#${tableName}_filter`);
        //const searchLabel = document.querySelector(`#${tableName}_filter label`);
        //searchLabel.innerText = searchLabel.innerText.replace("검색:", "");
        const button = document.createElement("button");
        button.classList.add("btnType1");
        button.id = "searchButton";
        button.innerText = "검색";
        search.appendChild(button);

        const searchBox = document.querySelector(`#${tableName}_filter label input`);
        searchBox.placeholder = "검색어 입력";

    });
</script>