@{
    // Used Table [Member]
    // 고객관리시스템 - 고객목록
    // 선행작업 - 관리자 로그인
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_dg.cshtml";
    ViewData["Title"] = "기준정보 관리/진단 종류";
    @model Ki4C_Solution.Models.Manager.StandardInfoMgr.DiagnosisClass;
}
<style>
    #DiagnosisClassList_filter > label > input {
        width: 150px;
        height: 25px;
        border: solid 0.5px #2B92D5;
        border-radius: 10px;
        padding: 2px;
        margin-right: 5px;
    }

    #DiagnosisClassList_length > label > select {
        width: 150px;
        height: 25px;
        padding: 3px;
        border: solid 0.3px #34B0C7;
        border-radius: 0.5em;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    }

    #DiagnosisClassList_paginate {
        float: left;
        margin-left: 25%;
    }

    @@media (max-width: 768px) {
        #DiagnosisClassList_paginate {
            float: left;
            margin-left: 15%;
        }
    }
</style>
<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>진단 구분 등록</h2>
        <br />
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a href="#">Home</a>
            &gt;
            <a href="#">기준 정보</a>
            &gt;
            진단 구분 등록
        </div>
        <br>
        <hr style="width: 100%" />
        <!-- 진단 구분 등록 -->
        <div style="padding-top: 10px; padding-left: 30px; height: 250px;">
            <a>진단종류선택: </a>
            <div style="padding-top: 10px; display: inline-block;">
                <select style="max-width: 400px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisTypeSelecter">
                    <option>=== 선택 ===</option>
                </select>
            </div>
            <br>
            <a>진단구분코드: </a>
            <div style="padding-top: 10px; display: inline-block;">
                <input class="inputType1" type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisClassCode" asp-for="DiagnosisClassCode" />
            </div>
            <br>
            <a>진단구분명: </a>
            <div style="padding-top: 10px; padding-left: 14px; display: inline-block;">
                <input class="inputType1" type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" id="DiagnosisClassName" asp-for="DiagnosisClassName" />
            </div>
            <div style="padding-top: 30px; padding-left: 50px;">
                <input class="btnType1" id="registButton" type="button" value="등록" />
                <input class="btnType1" id="modifyButton" type="button" value="수정" />
            </div>
        </div>
        <!-- 진단 구분 등록 -->
        <hr />
        <!-- 진단 구분 목록 -->
        <div style="display: inline-block;">
            <br>
            <div style="width: 90%; margin: auto;">
                <table class="display" id="DiagnosisClassList"></table>
            </div>
            <div id="buttonLocation">
                <input class="btnType2" id="deleteButton" type="submit" value="항목 삭제" />
            </div>
        </div>
        <!-- 진단 구분 목록 -->
    </div>
    <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->

<script>let DiagnosisClassJS = {
        init: function () {
            let _this = this;
            $('#registButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.regist();
                };
            });
            $('#modifyButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.modify();
                }
            });
            $('#deleteButton').on('click', function () {
                if (_this.ValidateCheck()) {
                    _this.delete();
                }
            });
            $('#searchButton').on('click', function () {
                _this.search();
            });
            $(document).on('click', '#DiagnosisClassNumber', function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().siblings().find('#DiagnosisClassNumber').prop('checked', false);
                }
            });
            $(document).on('change', '#DiagnosisClassNumber', function () {
                _this.checkedChange();
            });
        },
        regist: function () {
            //regist button DiagnosisTypeNumber & DiagnosisClassCode & DiagnosisClassName
            let DiagnosisTypeNumber = $('#DiagnosisTypeSelecter option:selected').val();
            let DiagnosisClassCode = $('#DiagnosisClassCode').val();
            let DiagnosisClassName = $('#DiagnosisClassName').val();
            let data = {
                "DiagnosisTypeNumber": DiagnosisTypeNumber,
                "DiagnosisClassCode": DiagnosisClassCode,
                "DiagnosisClassName": DiagnosisClassName
            };
            $.ajax({
                type: 'POST',
                url: '/api/APIManagerStandardInforMgr/DiagnosisClass/insert',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('등록이 완료되었습니다.');
                DiagnosisClassJS.DiagnosisClassList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });

        },
        modify: function () {
            //api/APIManagerStandardInforMgr/DiagnosisClass/update
            let DiagnosisClassNumber = $('input:checkbox[id="DiagnosisClassNumber"]:checked').val();
            let DiagnosisTypeNumber = $('#DiagnosisTypeSelecter option:selected').val();
            let DiagnosisClassCode = $('#DiagnosisClassCode').val();
            let DiagnosisClassName = $('#DiagnosisClassName').val();
            let data = {
                "DiagnosisClassNumber": DiagnosisClassNumber,
                "DiagnosisTypeNumber": DiagnosisTypeNumber,
                "DiagnosisClassCode": DiagnosisClassCode,
                "DiagnosisClassName": DiagnosisClassName
            };
            $.ajax({
                type: 'PUT',
                url: '/api/APIManagerStandardInforMgr/DiagnosisClass/update',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('수정이 완료되었습니다.');
                DiagnosisClassJS.DiagnosisClassList();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        delete: function () {
            //checkbox checked value get DiagnosisClassNumber
            let DiagnosisClassCode = [];
            let DiagnosisClassName = [];
            let DiagnosisClassNumber = [];
            $('input:checkbox[id="DiagnosisClassNumber"]:checked').each(function () {
                DiagnosisClassNumber.push($(this).val());
                let code = $(this).parent().parent().find('td:eq(2)').text();
                let name = $(this).parent().parent().find('td:eq(3)').text();
                DiagnosisClassCode.push(code);
                DiagnosisClassName.push(name);
            });
            if (DiagnosisClassNumber == null || DiagnosisClassNumber.length == 0) {
                alert('삭제할 항목을 선택해주세요.');
                return;
            }

            let data = {
                "DiagnosisClassNumber": DiagnosisClassNumber[0]
            };

            if (confirm('\n삭제할 항목 코드 : ' + DiagnosisClassCode + '\n삭제할 항목 이름 : ' + DiagnosisClassName + '\n 해당 진단 항목을 삭제하시겠습니까?')) {
                // 하나씩 삭제
                $.ajax({
                    type: 'DELETE',
                    url: '/api/APIManagerStandardInforMgr/DiagnosisClass/delete',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).done(function () {
                    alert('삭제가 완료되었습니다.');
                    DiagnosisClassJS.DiagnosisClassList();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            } else {
                alert('항목 이름 : ' + DiagnosisClassName + ' \n 취소 되었습니다.');
            }


        },
        search: function () {
            //search button
        },
        DiagnosisClassList: function () {
            //api/APIManagerStandardInforMgr/DiagnosisClass/getAll
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/DiagnosisClass/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                data = JSON.parse(data);
                let html = '<thead><tr align="center" bgcolor="#2B92D5" style="color:#F8F8FF">'
                    + '<td> 번호 </td>'
                    + '<td> 진단종류 </td>'
                    + '<td> 진단구분코드 </td>'
                    + '<td> 진단구분명 </td>'
                    + '<td> 삭제 </td>'
                    + '</tr></thead><tbody>';
                data.forEach(function (item) {
                    html += '<tr align="center" bgcolor="white">';
                    html += '<td>' + item.DiagnosisClassNumber + '</td>';
                    html += '<td>' + item.DiagnosisTypeNumber + '</td>';
                    html += '<td>' + item.DiagnosisClassCode + '</td>';
                    html += '<td>' + item.DiagnosisClassName + '</td>';
                    html += '<td><input type="checkbox" id="DiagnosisClassNumber" value="' + item.DiagnosisClassNumber + '"></td>';
                    html += '</tr>';
                });
                html += '</tbody>';
                DiagnosisClassJS.RefreshDiagnosisTypeList();
                $('#DiagnosisClassList').append(html);
                $('#DiagnosisClassList').DataTable({
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.3/i18n/ko.json'
                    },
                });
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        DiagnosisTypeList: function () {
            //DiagnosisTypeSelecter select tag add option
            $.ajax({
                type: 'GET',
                url: '/api/APIManagerStandardInforMgr/DiagnosisType/getAll',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                data = JSON.parse(data);
                let html = '<option value="0">진단종류</option>';
                data.forEach(function (item) {
                    html += '<option value="' + item.DiagnosisTypeNumber + '">' + item.DiagnosisTypeNumber + ' - ' + item.DiagnosisTypeCode + ' - ' + item.DiagnosisTypeName + '</option>';
                });
                $('#DiagnosisTypeSelecter').empty();
                $('#DiagnosisTypeSelecter').append(html);
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        },
        RefreshDiagnosisTypeList: function () {
            $('#DiagnosisClassList').empty();
        },
        checkedChange: function () {
            let DiagnosisTypeNumber = [];
            let DiagnosisClassCode = [];
            let DiagnosisClassName = [];
            $('#DiagnosisClassNumber:checked').each(function () {
                let typeNumber = $(this).parent().parent().find('td:eq(1)').text();
                let code = $(this).parent().parent().find('td:eq(2)').text();
                let name = $(this).parent().parent().find('td:eq(3)').text();
                DiagnosisTypeNumber.push(typeNumber);
                DiagnosisClassCode.push(code);
                DiagnosisClassName.push(name);
            });
            $('#DiagnosisTypeSelecter').val(DiagnosisTypeNumber);
            $('#DiagnosisClassCode').val(DiagnosisClassCode);
            $('#DiagnosisClassName').val(DiagnosisClassName);
        },
        ValidateCheck: function () {
            let DiagnosisTypeNumber = $('#DiagnosisTypeSelecter option:selected').val();
            let DiagnosisClassCode = $('#DiagnosisClassCode').val();
            let DiagnosisClassName = $('#DiagnosisClassName').val();
            if (DiagnosisTypeNumber == 0) {
                alert('진단종류를 선택해주세요.');
                return false;
            }
            if (DiagnosisClassCode == '') {
                alert('진단구분코드를 입력해주세요.');
                return false;
            }
            if (DiagnosisClassName == '') {
                alert('진단구분명을 입력해주세요.');
                return false;
            }
            return true;
        }

    }

    $(document).ready(function () {
        DiagnosisClassJS.init();
        DiagnosisClassJS.DiagnosisTypeList();
        DiagnosisClassJS.DiagnosisClassList();

        const tableName = 'DiagnosisClassList';
        const insideTable = document.querySelector(`#${tableName}`);
        if (matchMedia("screen and (min-width: 768px)").matches) {
            // 768px 이상에서 사용할 JavaScript
            insideTable.style.width = "700px";
        } else {
            // 768px 미만에서 사용할 JavaScript
            insideTable.style.width = "350px";
        }
        insideTable.style.padding = "5px";

        const search = document.querySelector(`#${tableName}_filter`);
        //const searchLabel = document.querySelector(`#${tableName}_filter label`);
        //searchLabel.innerText = searchLabel.innerText.replace("검색:", "");
        const button = document.createElement("button");
        button.classList.add("btnType1");
        button.id = "searchButton";
        button.innerText = "검색";
        search.appendChild(button);

        const searchBox = document.querySelector(`#${tableName}_filter label input`);
        searchBox.placeholder = "검색어 입력";
    });</script>