@{
    // Used Table [Member]
    // 고객관리시스템 - 고객목록
    // 선행작업 - 관리자 로그인
    Layout = "~/Views/Shared/_LayoutKi4C_Aside_dg.cshtml";
    ViewData["Title"] = "기준정보 관리/진단 종류";
}
<!-- 섹션 -->
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>평가문제 등록</h2>
        <div style="float: right;">
            <a href="#">Home</a>
            &gt;
            <a href="#">기준 정보</a>
            &gt;
            평가문제 등록
        </div>
        <br>
        <hr />
        <!-- 평가문제 등록 -->
        <div style="padding-top: 30px; padding-left: 30px; height: 200px;">
            <form style="padding-right: 30px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;">
                    <option value="none">진단구분선택</option>
                    <option>디지털 전략</option>
                    <option>디지털 비즈니스</option>
                    <option>디지털 오퍼레이션</option>
                    <option>디지털 데이터</option>
                    <option>디지털 조직문화</option>
                </select>
            </form>
            <form style="padding-left: 50px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;">
                    <option value="none">진단평가영역 선택</option>
                    <option>디지털 혁신 추진 조직</option>
                    <option>디지털 전환 전략 및 목표관리</option>
                    <option>디지털 경영계획</option>
                    <option>수직적 가치사슬 디지털화 수준</option>
                    <option>수평적 가치사슬 디지털화 수준</option>
                    <option>데이터 공유 전략 수준</option>
                    <option>디지털기술 활용전략과 투자 연계</option>
                    <option>디지털 전환(DX) 과제기획 및 투자</option>
                </select>
            </form>
            <form style="padding-left: 50px; display: inline-block;">
                <select style="max-width: 200px; width: 130%; height: 30px; font-size: 16px;
                        margin-bottom: 3px;">
                    <option value="none">답변 스타일 선택</option>
                    <option>단답형</option>
                    <option>장문형</option>
                    <option>객관식 질문</option>
                    <option>체크박스</option>
                </select>
            </form>
            <br>
            <a>평가문제 코드: </a>
            <form style="padding-top: 10px; display: inline-block;">
                <input type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" />
            </form>
            <br>
            <a>평가문제: </a>
            <form style="padding-top: 10px; display: inline-block;">
                <input type="text"
                       style="max-width: 400px; width: 130%; height: 25px; font-size: 16px;
                        margin-bottom: 3px;" />
            </form>
            <div style="padding-top: 30px; padding-left: 50px;">
                <input id="registButton" type="submit" value="등록" />
                <input id="modifyButton" type="submit" value="수정" />
            </div>
        </div> <br> <br> <br>
        <!-- 평가문제 등록 -->
        <hr />
        <!-- 평가문제 목록 -->
        <div style="display: inline-block;">
            <div id="buttonLocation">
                <input type="text" placeholder="검색어 입력" />
                <button id="searchButton">검색</button>
            </div>
            <br>
            <div style="width: 90%; margin: auto;">
                <table id="table">
                    <tr align="center" bgcolor="skyblue">
                        <td>번호</td>
                        <td>평가문제코드</td>
                        <td>평가문제명</td>
                        <td>삭제</td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td>1</td>
                        <td>D1</td>
                        <td><a href="javascript:showPopUp()">디지털 혁신 추진하는 조직은 어느 수준입니까?</a></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td>2</td>
                        <td>D2</td>
                        <td>디지털 전환(DX)과 관련된 전략수립, 추진조직</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td>3</td>
                        <td>D3</td>
                        <td>전사적인 디지털 경영계획...</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr align="center" bgcolor="white">
                        <td>4</td>
                        <td>D4</td>
                        <td>수직적 가치사슬(제품 기획 및 제품 개발에서...)</td>
                        <td><input type="checkbox"></td>
                        </td>
                    </tr>
                    </tr>
                    </tr>
                    </tr>
                    </tr>
                    </tr>
                    </tr>
                    </tr>
                </table>
            </div>
            <div id="buttonLocation">
                <input id="deleteButton" type="submit" value="항목 삭제" />
            </div>
        </div>
        <!-- 평가문제 목록 -->
        <!-- 콘텐츠 -->
</section>
<!-- 섹션 -->
<script>
    let DiagnosisEvaluationQnA = {
        init: function () {
            let _this = this;
            $('#registButton').on('click', function () {
                _this.regist();
            });
            $('#modifyButton').on('click', function () {
                _this.modify();
            });
            $('#deleteButton').on('click', function () {
                _this.delete();
            });
        },
        regist: function () {
            alert('등록');
        },
        modify: function () {
            alert('수정');
        },
        delete: function () {
            alert('삭제');
        },
        showPopUp : function () {
            //창 크기 지정
            let width = 800;
            let height = 600;

            //pc화면기준 가운데 정렬
            let left = (window.screen.width / 2) - (width / 2);
            let top = (window.screen.height / 4);

            //윈도우 속성 지정
            let windowStatus = 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + ', scrollbars=yes, status=yes, resizable=yes, titlebar=yes';

            //연결하고싶은url
            const url = "QnADetails.html";

            $.ajax(){
                url: '/Manager/StandardInforMgr/QnADetails',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    //성공시
                    $('#QnADetails').html(data);
                },
                error: function (request, status, error) {
                    //실패시
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            }
           
            //등록된 url 및 window 속성 기준으로 팝업창을 연다.
            window.open(url, "hello popup", windowStatus);
        },
        isEmpty: function (value) {
            if (value == null || value == undefined || value == "") {
                return true;
            } else {
                return false;
            }
        },
    };
    function showPopUp() {

        //창 크기 지정
        let width = 800;
        let height = 600;

        //pc화면기준 가운데 정렬
        let left = (window.screen.width / 2) - (width / 2);
        let top = (window.screen.height / 4);

        //윈도우 속성 지정
        let windowStatus = 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + ', scrollbars=yes, status=yes, resizable=yes, titlebar=yes';

        //연결하고싶은url
        const url = "QnADetails.html";

        //등록된 url 및 window 속성 기준으로 팝업창을 연다.
        window.open(url, "hello popup", windowStatus);
    }
</script>