<style>
    #table {
        border: "1";
        width: 800px; height: 100px;
        text-align: center;
        background-color:skyblue; border-color: white;
        table-layout: fixed;
    }
    td {
        word-wrap: break-word;
    }
    #mypageButton{
        font-size: 12px; font-weight: 600;
        background-color: red;
        color: white;
        border: none;
        border-radius: 30px;
    }
    #logoutButton{
        font-size: 12px; font-weight: 600;
        background-color: black;
        color: white;
        border: none;
        border-radius: 30px;
    }
    #registButton{
        background-color: white;
        font-weight: 500;
        border-color: grey;
        width: 80px; height: 30px;
        margin: 10px;
        border-radius: 30px;
    }
    #modifyButton{
        background-color: white;
        font-weight: 500;
        border-color: grey;
        width: 80px; height: 30px;
        margin: 10px;
        border-radius: 30px;
    }
    #searchButton{
        background-color: white;
        font-weight: 500;
        border-color: grey;
        width: 40px; height: 30px;
        margin: 10px;
        border-radius: 30px;
    }
    #deleteButton{
        background-color: white;
        font-weight: 500;
        border-color: grey;
        width: 80px; height: 30px;
        margin: 10px;
        border-radius: 30px;
    }
    #searchBox {
        width: 130px; height: 30px;
    }
    #buttonLocation {
        float: right; margin-right: -50px;
    }
    @@media (max-width: 768px){
        #table {
            width: 100%;
        }
        #searchBox {
            width: 100px;
        }
        #buttonLocation {
            margin-right: 10px;
        }
    }
</style>
<aside>
    <div style="padding: 10px; height: 80px; line-height: 30px; background: white;">
        <div id=profile_img style="display: inline;">
            <img style="width: 50px; height: 50px; "src="~/images/profile.png">
        </div>
        <div style="display: inline; height: 20px; vertical-align: top; margin-left: 10px;">
            관리자466
        </div>
        <div style="position: relative; left: 60px;">
            <input id="mypageButton" type="submit" value="마이페이지"/>
            <input id="logoutButton" type="submit" value="로그아웃"/>        
        </div>
    </div>
    <div style="margin-top: 10px; padding: 10px; height: 30px; line-height: 30px; background: white;">
        ▣ 기준 정보
    </div>
    <div style="height: 300px; background: grey;">
        <ul style="list-style:none; padding-left:0px;">
            <li style="padding: 10px 0 0 10px;"><a asp-area="" asp-controller="ManagerStandardInforMgr" asp-action="DiagnosisType">◎ 진단 종류</a></li>
            <li style="padding: 10px 0 0 10px;"><a asp-area="" asp-controller="ManagerStandardInforMgr" asp-action="DiagnosisClass">◎ 진단 구분</a></li>
            <li style="padding: 10px 0 0 10px;"><a asp-area="" asp-controller="ManagerStandardInforMgr" asp-action="DiagnosisEvaluationArea">◎ 진단 평가영역</a></li>
            <li style="padding: 10px 0 0 10px;"><a asp-area="" asp-controller="ManagerStandardInforMgr" asp-action="DiagnosisEvaluationQnA">◎ 평가문제와 지문</a></li>
            <li style="padding: 10px 0 0 10px;"><a asp-area="" asp-controller="ManagerStandardInforMgr" asp-action="DiagnosisInputType">◎ 입력 형식</a></li>
            <li style="padding: 10px 0 0 10px;"><a asp-area="" asp-controller="ManagerStandardInforMgr" asp-action="DiagnosisEvaluationMeasurement">◎ 평가 척도</a></li>
            <li style="padding: 10px 0 0 10px;"><a asp-area="" asp-controller="ManagerStandardInforMgr" asp-action="DiagnosticLevel">◎ 진단 수준</a></li>            
        </ul>
    </div>
</aside>