<style>
    #table {
        border: "1";
        width: 800px; height: 100px;
        text-align: center;
        background-color:skyblue; border-color: white;
        table-layout: fixed;
    }
    td {
        word-wrap: break-word;
    }
    #mypageButton{
        font-size: 12px; font-weight: 600;
        background-color: red;
        color: white;
        border: none;
        border-radius: 30px;
    }
    #logoutButton{
        font-size: 12px; font-weight: 600;
        background-color: black;
        color: white;
        border: none;
        border-radius: 30px;
    }
    #searchBox {
        width: 150px; height: 25px;
    }
    #searchButton {
        background-color: white;
        font-weight: 500;
        border-color: grey;
        color: black;
        width: 80px; height: 30px;
        margin: 10px;
        border-radius: 30px;
    }
    #applyButton {
        background-color: white;
        font-weight: 500;
        border-color: grey;
        width: 120px; height: 30px;
        margin: 10px;
        border-radius: 30px;
    }
    #startButton{
        width: 200px; height: 30px;
        font-size: 16px; font-weight: 600;
        background-color: orange;
        color: white;
        border: none;
    }
    #searchBox {
        width: 130px; height: 30px;
    }
    #buttonLocation {
        float: right; margin-right: -50px;
    }
    @@media (max-width: 768px){
        #table {
            width: 100%;
        }
        #searchBox {
            width: 100px;
        }
        #buttonLocation {
            margin-right: 10px;
        }
    }
</style>
<div style="padding: 10px; height: 80px; line-height: 30px; background: white;">
    <div id=profile_img style="display: inline;">
        <img style="width: 50px; height: 50px; "src="../../img/profile.png">
    </div>
    <div style="display: inline-block; vertical-align: top;">
        심사위원 홍길동  <br>
        산업공학과 교수
    </div>
    <div style="position: relative; left: 60px;">
        <input id="mypageButton" type="submit" value="마이페이지"/>
        <input id="logoutButton" type="submit" value="로그아웃"/>        
    </div>
</div>
<div style="margin-top: 10px; padding: 10px; height: 30px; line-height: 30px; background: white;">
    ▣ 진단관리
</div>
<div style="height: 300px; background: grey;">
    <ul style="list-style:none; padding-left:0px;">
        <li style="padding: 10px 0 0 10px;"><a href="/member/diagnosis/Application4Evaluation.html">◎ 진단 평가</a></li>
        <li style="padding: 10px 0 0 30px;"><a href="/member/diagnosis/Application4Evaluation.html">◎ 평가기업 신청</a></li>
        <li style="padding: 10px 0 0 30px;"><a href="/member/diagnosis/SelectedResultList.html">◎ 선정 기업</a></li>
        <li style="padding: 10px 0 0 10px;"><a href="/member/diagnosis/DiagnosticEvaluationList.html">◎ 진단평가 관리</a></li>
    </ul>
</div>