<style>
    #table {
        border: "1";
        width: 800px;
        height: 100px;
        text-align: center;
        background-color: #34B0C7;
        border-color: white;
        table-layout: fixed;
    }
    td {
        font-size: 14px;
        word-wrap: break-word;
    }
    #header td {
        color: white;
        font-weight: 700;
    }
    #mypageButton {
        width: 70px;
        height: 20px;
        font-size: 12px;
        font-weight: 400;
        background-color: #34B0C7;
        color: white;
        border: none;
        border-radius: 30px;
    }
    #logoutButton {
        width: 70px;
        height: 20px;
        font-size: 12px;
        font-weight: 400;
        background-color: #2A3142;
        color: white;
        border: none;
        border-radius: 30px;
    }
    #selectCategory {
            height: 30px;
            font-size: 16px;
            padding-right: 30px;
            margin-bottom: 3px;
    }

    #buttonLocation {
        float: right; margin-right: -50px;
    }
    @@media (max-width: 768px){
        #table {
            width: 100%;
        }
        #searchBox {
            width: 100px;
        }
        #buttonLocation {
            margin-right: 10px;
        }
    }
    #menuBox {
        padding: 5px;
        width: 90%;
        height: 60px;
        text-align: center;
        background: #fafafa;
        margin: auto;
    }

    #menuTitle {
        width: 90%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #34B0C7;
    }

    #menuLogo {
        width: 70px;
        height: 55px;
    }

    #lnb {
        width: 90%;
        background: #fafafa;
        font-size: 16px;
        font-weight: 600;
        margin: auto;
    }

    .menu {
        height: 40px;
        line-height: 40px;
    }

        .menu:hover {
            background-color: #34B0C7;
            color: white;
        }

        .menu a {
            padding-left: 10px;
        }
</style>
<aside>
    <div style="padding: 10px; height: 80px; line-height: 30px; background: white;">
        <div id=profile_img style="display: inline;">
            <img style="width: 50px; height: 50px; " src="~/images/profile.png">
        </div>
        <div style="display: inline-block; font-size: 14px; vertical-align: top;">
            홍길동  <br>
            산업공학과
        </div>
        <div style="position: relative; left: 40px;">
            <input id="mypageButton" type="submit" value="마이페이지" />
            <input id="logoutButton" type="submit" value="로그아웃" />
        </div>
    </div>
    <div id="menuBox">
        <img id="menuLogo" src="~/images/menu1.png">
    </div>
    <div id="menuTitle">
        마이 페이지
    </div>
    <div id="lnb" style="height: 300px;">
        <ul style="list-style:none; padding-left:0px;">
            <li class="menu">
                <a asp-area="" asp-controller="MemberMypage" asp-action="MyInfoRead">내 정보 보기</a>
            </li>
            <li class="menu">
                <a asp-area="" asp-controller="MemberMypage" asp-action="MyInfoUpdate">내 정보 수정</a>
            </li>
            <li class="menu">
                <a asp-area="" asp-controller="MemberMypage" asp-action="MyInfoDelete">탈퇴</a>
            </li>
        </ul>
    </div>
</aside>