@{
    // Used Table [Member]
    //메인 - 로그인 - 아이디 찾기 - 아이디찾기입력화면
    Layout = "_LayoutKi4C";
    ViewData["Title"] = "아이디 찾기";
    @model Ki4C_Solution.Models.Common.Auth.CreateAccountModel;
}
<style>
    /* FindIdInput.html */
    #find-button{
        font-size: 12px; font-weight: 600;
        background-color: lightgray;
        border-color: black;
        width: 100px; height: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-right: 10px;
    }
    #cancle-button{
        font-size: 12px; font-weight: 600;
        background-color: white;
        border-color: black;
        width: 100px; height: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #find-button:hover, #find-button:active {
        background-color: gray;
        color: white;
    }

    #cancle-button:hover, #cancle-button:active {
        background-color: lightgray;
        color: black;
    }
</style>
<section>
    <!-- 콘텐츠 -->
    <div id="wrap">
        <h2>아이디 찾기</h2>
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a class="text-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            &gt;
            아이디 찾기
        </div>
        <br>
        <hr style="border: solid 0.5px black; width: 100%;" />
        <!-- 아이디 찾기 -->
        <div class="contents" style="margin: 0 auto;">
            <div style="text-align: center; padding-right: 50px;">
                <br>
                <h1 style="padding-right: 100px;">아이디 찾기</h1>
                <a style="font-size: 12px;">아이디를 찾기 위해 아래 정보를 입력해주세요.</a> <br> <br>
                <a>이메일 </a> <a style="color: red;">*</a>
                <form asp-controller="CommonAuth" asp-action="FindId" method="post" id="Login-form" style="padding-top: 10px; display: inline-block;">
                    <input type="email" placeholder="이메일을 입력해주세요."
                           style="max-width: 400px; width: 130%; height: 30px; font-size: 16px;
                            margin-bottom: 3px;"
                           onfocus="this.value='';" id="Input_Email" asp-for="Email" />
                </form>
                <div style="padding-left: 90px; padding-top: 20px;">
                    <a href="#" style="display: inline-block;">
                        <input id="find-button" type="submit" value="아이디 찾기" onclick="FindIdInputJS.submitBtnClick()" />
                    </a>
                    <a style="display: inline-block;" asp-area="" asp-controller="CommonAuth" asp-action="Login">
                        <input id="cancle-button" type="submit" value="취소" />
                    </a>
                </div>
                <br> <br>
                <div style="display: flex; justify-content: center;">
                    <div style="text-align: left; font-size: 12px;">
                        비밀번호가 기억나지 않으실 때는
                        <a style="display: inline-block;" asp-area="" asp-controller="CommonAuth" asp-action="FindPassInput">
                            <input type="button" value="비밀번호 찾기" />
                        </a>
                        <p>
                            이메일이 기억나지 않거나, 문의가 필요하시면 OOO@OOO.com 또는 02)2088-5953 으로 문의바랍니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br> <br> <br>
        <!-- 아이디 찾기 -->
    </div>
    <!-- 콘텐츠 -->
</section>
<script>
    let FindIdInputJS = {
        init: function () {
            this.setEvent();
        },
        setEvent: function () {
            $('#Login-form').submit(function (e) {
                e.preventDefault();
                //let name = $('#Input_Name').val();
                let email = $('#Input_Email').val();
                //let phone = $('#Input_Phone').val();
                if (FindIdInputJS.isEmpty(name)) {
                    alert('이메일을 입력해주세요.');
                    return;
                }
                //if (FindIdInputJS.isEmpty(email)) {
                //    alert('이메일을 입력해주세요.');
                //    return;
                //}
                //if (FindIdInputJS.isEmpty(phone)) {
                //    alert('휴대폰 번호를 입력해주세요.');
                //    return;
                //}
                this.submit();
            });
        },
        isEmpty: function (value) {
            if (value == null || value == undefined || value == "") {
                return true;
            } else {
                return false;
            }
        },
        submitBtnClick : function () {
            $('#Login-form').submit();
        }
    }

    $(document).ready(function () {
        FindIdInputJS.init();
    });

</script>


