@{

    // Used Table [Login, Member]
    //메인 - 로그인
    Layout = "~/Views/Shared/_LayoutKi4C.cshtml";
    ViewData["Title"] = "Login Page";
    @model Ki4C_Solution.Models.Common.Auth.LoginModel

}
<style>
    /* Login.html */
    .hr-sect {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    color: rgba(35, 31, 31, 0.35);
    margin: 8px 0px;
    }
    .hr-sect::before,
    .hr-sect::after {
        content: "";
        flex-grow: 1;
        background: rgba(35, 31, 31, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 16px;
    }
    #login-button{
        font-size: 16px; font-weight: 600;
        background-color: lightgray;
        border-color: black;
        width: 200px; height: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #create-button{
        font-size: 16px; font-weight: 600;
        background-color: white;
        border-color: black;
        width: 200px; height: 40px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #login-button:hover {
        background-color: gray;
        color: white;
    }

    #login-button:active {
        background-color: darkgray;
        color: white;
    }

    #create-button:hover {
        background-color: lightgray;
        color: black;
    }

    #create-button:active {
        background-color: gray;
        color: white;
    }
</style>
<section>
    <!-- 콘텐츠 -->
    <div id="wrap" style="width: 80%;">
        <h2>로그인</h2>
        <div style="float: right;">
            <a href="#">Home</a>
            &gt;
            로그인
        </div>
        <br>
        <hr />
        <!-- 로그인 -->
        <div class="contents" style="text-align: center;">
            <div style="width: 100%; height: 130px;">
                <h1 id="login">Log In <a style="color: red;">*</a></h1>
                <form method="post" id="Login-form" asp-controller="CommonAuth" asp-action="Login">
                    <input type="text" placeholder="이메일(email@address.com)"
                           style="max-width: 300px; width: 80%; height: 30px; font-size: 16px;
                            margin-bottom: 3px;"
                           onfocus="this.value='';" id="Input_Id" asp-for="Id"/> <br>
                    <input type="password" placeholder="비밀번호"
                           style="max-width: 300px; width: 80%; height: 30px; font-size: 16px;"
                           onfocus="this.value='';" id="Input_Password" asp-for="Password" />
                </form>
            </div>
            <div class="check_area"
                 style="font-size: 14px; position: relative; top: 10px;">
                <input type="checkbox" id="idSaveCheck" name="IdCheck">
                <label for="IdCheck">아이디 기억하기</label>
            </div>
            <br>
            <div>
                <a style="text-decoration:none; color:black;" asp-area="" asp-controller="CommonAuth" asp-action="FindIdInput">아이디 찾기</a>
                <a style="text-decoration:none; color:black;" asp-area="" asp-controller="CommonAuth" asp-action="FindPassInput">비밀번호 찾기</a>
            </div>
            <br> <br>
            <a href="#">
                <input id="login-button" type="button" value="로그인" onclick="LoginJS.SubmitBtnClick()" />
            </a>
            <br>
            <br>
            <div class="hr-sect">또는</div>
            <br>
            <a style="display: inline-block;" asp-area="" asp-controller="CommonMember" asp-action="MemberReg">
                <input id="create-button" type="button" value="계정 만들기" />
            </a>
        </div>
        <br> <br> <br>
        <!-- 로그인 -->
    </div>
    <!-- 콘텐츠 -->
</section>


<script>
    let LoginJS = {
        init: function () {
            this.setEvent();
        },
        setEvent: function () {
            $('#Login-form').submit(function (e) {
                e.preventDefault();
                let id = $('#Input_Id').val();
                //let email = $('#Input_Email').val();
                let password = $('#Input_Password').val();
                if (LoginJS.isEmpty(id)) {
                    alert('아이디를 입력해주세요.');
                    return;
                }
                //if (LoginJS.isEmpty(email)) {
                //    alert('이메일을 입력해주세요.');
                //    return;
                //}
                if (LoginJS.isEmpty(password)) {
                    alert('비밀번호를 입력해주세요.');
                    return;
                }
                this.submit(function (response) {
                    if (LoginJS.isEmpty(response.result)) {
                        console.log(response);
                        alert(response.result.toString());
                        return;
                    }
                    else {
                        alert(response);
                    }

                })
            });
        },
        isEmpty: function (value) {
            if (value == null || value == undefined || value == "") {
                return true;
            } else {
                return false;
            }
        },
        loginAPI: function () {
            let id = $('#Input_Id').val();
            let password = $('#Input_Password').val();
            let data = {
                Id: id,
                Password: password
            };
            $.ajax({
                url: '/api/Common/Auth/Login',
                type: 'POST',
                data: data,
                success: function (data) {
                    if (data.result) {
                        alert('로그인 성공');
                        $('#loginSuccessModal').modal('show');
                        //location.href = '/Home/Index';
                    } else {
                        $('#loginFailModal').modal('show');
                    }
                },
                error: function (request, status, error) {
                    $('#loginFailModal').modal('show');
                }
            });
        },
        SubmitBtnClick : function(){
            //Form Submit trigger
            $('#Login-form').submit();
            
        }
    }

    $(document).ready(function () {
        LoginJS.init();
        if ($("#ValidateMessage").text() != "") {
            $('#loginFailModal').modal('show');
        }
    });

    $(".btn-close, .closeBtn").click(function () {
        $('#loginFailModal').modal('hide');
        $('#loginSuccessModal').modal('hide');
    });

</script>