@{
    // Used Table []
    // DX진단 플랫폼 소개 / DX진단 필요성
    Layout = "~/Views/Shared/_LayoutKi4C_Aside.cshtml";
    //ViewData["Title"] = "회사 소개";
    ViewData["Title"] = "DX진단 필요성";
}
<style>
    /* Greeting.html */
    #greeting_img {
        width: 30%;
        float: right;
    }
    #greeting {
        width: 65%;
        float: left;
    }
 
    @@media (max-width: 768px) {
        #greeting_img {
            display: block;
            float: left;
            width: 250px;
        }
        #greeting {
            width: 100%;
        }
    }
</style>
<section>
    <!-- 콘텐츠 -->
    <div id=contetns style="width: 100%;">
        <h2>인사말</h2>
        <br />
        <div id="menuIdx">
            <div style="float: left;">
                <img id=home_img src="~/images/home-1.png">
            </div>
            <a class="text-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            &gt;
            <a class="text-primary" asp-area="" asp-controller="CommonCompany" asp-action="Greetings">DX진단 플랫폼 소개</a>
            &gt;
            DX진단 필요성
        </div>
        <br>
        <hr style="border: solid 0.5px black; width: 100%;" />
        <!-- 프로필 이미지 -->
        <div id=greeting_img>
            <img style="width: 100%; height: calc (width*1.3);" src="~/images/greeting.png">
        </div>
        <!-- 프로필 이미지 -->
        <!-- DX진단 필요성 -->
        <div id=greeting>
            <br />
            <h3>DX진단 필요성</h3>
            <br />
            <div>
                <p>
                    코로나19 팬데믹 이후 기업 경영환경이 불확실해지면서 ​기업은 '혁신성장'을 위한 디지털트랜스포메이션(DX:Digital Transformation)으로 성장 패러다임의 대전환이 필요합니다.
                    이러한 전환을 위하여 기업은 새로운 가치 제안과 벨류체인 전환, 고객경험 기반의 새로운 비즈니스 모델 발굴 등 기업의 전략, 조직문화, 일하는 방식의 전환의 중요성은 더욱 커지고 있습니다.
                    디지털 트랜스포메이션을 추구하는 대부분의 기업들은 신기술이 조직의 문제를 해결하고 성공적으로 이끌 것이라 생각하여 '최신 기술'에만 집착하는 경향이 있습니다.
                    하지만 성공적인 디지털트랜스포케이션을 이뤄낸 회사 중 대부분은  인간, 조직 차원의 변혁을 통하여 성과를 거둔 곳입니다.
                </p>
            </div>
            <br />
            <h3>DX진단 필요성 2</h3>
            <br />
            <div>
                <p>
                    코로나19 팬데믹 이후 기업 경영환경이 불확실해지면서 ​기업은 '혁신성장'을 위한 디지털트랜스포메이션(DX:Digital Transformation)으로 성장 패러다임의 대전환이 필요합니다.
                    이러한 전환을 위하여 기업은 새로운 가치 제안과 벨류체인 전환, 고객경험 기반의 새로운 비즈니스 모델 발굴 등 기업의 전략, 조직문화, 일하는 방식의 전환의 중요성은 더욱 커지고 있습니다.
                    디지털 트랜스포메이션을 추구하는 대부분의 기업들은 신기술이 조직의 문제를 해결하고 성공적으로 이끌 것이라 생각하여 '최신 기술'에만 집착하는 경향이 있습니다.
                    하지만 성공적인 디지털트랜스포케이션을 이뤄낸 회사 중 대부분은  인간, 조직 차원의 변혁을 통하여 성과를 거둔 곳입니다.
                </p>
            </div>
        </div>
        <!-- DX진단 필요성 -->
    </div>
    <!-- 콘텐츠 -->
</section>